<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title></title>



<script src="js/header.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/error.css">


	
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

	
	<div class="haut">
		<p class="numError">404</p>
	</div>
	<div class="bas">
		<p>D&eacute;sol&eacute;,</p>
		<p>Cette page n'existe pas ou est introuvable..</p>
		<button class="btn btn-default">Retourner à la page d'accueil</button>
	</div>
	
</body>
</html>