<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title></title>



<script src="js/header.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/error.css">


	
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

	
	<div class="haut">
		<p class="numError">500</p>
	</div>
	<div class="bas">
		<p>Ooops</p>
		<p>Quelque chose ne s'est pas bien passé...</p>
		<p>Pourquoi ne pas essayer de rafraichir la page ? </p>
		<a class="btn btn-default" th:href="@{/authentication}">Retourner à la page d'accueil</a>
	</div>
	
</body>
</html>