<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<link type="text/css" href="/css/consult.css" rel="stylesheet" />

<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="activeNav('consult_offers');">



	<div th:include="headerStaffLille1::headerStaffLille1"></div>


	<div class="container">
		<br>
		<div class="searchPart">
			<div id="searchTitle">Recherche d'offre(s)</div><br/>
			<form class="navbar-form" method="post" role="search">
			
	    		<div class="row">
	    		
	    			<div class="col-md-4">
		    			<div class="input-group">
						      <span class="input-group-addon">Libell&eacute;</span>
		      				   <input type="text" class="form-control" name="libelle" id="libelle" type="text">
		      			</div>
	      			</div>
	      			<div class="col-md-4">
	      				<div class="input-group">
							<span class="input-group-addon">Num&eacute;ro de l'offre</span>
							<input type="text" class="form-control" name="num_offer" id="num_offer" type="text">
	    				</div>
	    			</div>
	    	
	      			
	      		</div>
				<br/>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-xs-offset-5 input-group-btn">
		        			<button class="btn btn-default" type="submit">Recherche <i class="glyphicon glyphicon-search"></i></button>
		     		</div>
	     		</div>
 			 </form>
		</div><br/><br/>
		
		<div class="row" th:if="${size !=null }">
			<div class="alert alert-info">
			  <strong>Resultat trouv&eacute; : </strong> <span th:text="${size}"></span> offre<span th:if="${size > 1}">s</span>
			</div>
		</div>
		
		<div th:if="${size > 0} or ${size==null}">
		
		<div class="titreFormulaire">
			<label>Offres publiées :</label>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-responsive">

					<thead>
						<tr>
							<td><strong>N° de l'offre</strong></td>
							<td><strong>Libell&eacute;</strong></td>
							<td><strong>Responsable</strong></td>
							<td><strong>Date</strong></td>
							<td></td>
						</tr>

					</thead>

					<tr th:each="offer: ${listOffers}"">
						<td><label th:text="${offer.id}"></label></td>
						<td th:text="${offer.title}"></td>
						<td><span th:text="${offer.firstNameResponsible}"></span><span></span>
							<span th:text="${offer.lastNameResponsible}"></span></td>
						<td th:text="${offer.validityDate}"></td>


						<td><a class="btn btn-success" aria-label="Left Align"
							th:href="@{/offerShow(id=${offer.id})}"> <span
								class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
						</a></td>
					</tr>



					</table>
				</div>
			</div>
		</div>


	</div>


</body>
</html>
