<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<link type="text/css" href="/css/consult.css" rel="stylesheet" />

<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/inputs.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="activeNav('gestionOffers');">



	<div th:include="headerStaffLille1::headerStaffLille1"></div>


	<div class="container">
		<br>
		<div class="titreFormulaire">
			<h4>
				<label>Offres en attentes de validation</label>
			</h4>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="table table-responsive">

					<thead>
						<tr>
							<td><strong>N° de l'offre</strong></td>
							<td><strong>Libell&eacute;</strong></td>
							<td><strong>Responsable</strong></td>
							<td><strong>Date</strong></td>
							<td></td>
						</tr>

					</thead>

					<tr th:each="offer: ${offers}" th:if="${offer.status}=='Waiting'">
						<td><label th:text="${offer.id}"></label></td>
						<td th:text="${offer.title}"></td>
						<td><span th:text="${offer.firstNameResponsible}"></span><span></span>
							<span th:text="${offer.lastNameResponsible}"></span></td>
						<td th:text="${offer.validityDate}"></td>


						<td><a class="btn btn-primary" aria-label="Left Align"
							th:href="@{/manageOffer(id=${offer.id})}"
							data-toggle="tooltip" data-placement="bottom" title="Modérer cette offre"> <span
								class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						</a></td>
					</tr>



				</table>
			</div>
		</div>


	</div>


</body>
</html>
