
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<link type="text/css" href="/css/offer.css" rel="stylesheet" />

<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker.fr.min.js"></script>

<script src="js/inputs.js"></script>

<link rel="stylesheet" href="css/bootstrap-datepicker3.css">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

	<div th:include="headerReferent::headerReferent"></div>

	<div class="container containerOffer">

		<div>
			<h3>Cr&eacute;ation d'une nouvelle offre standard</h3>
		</div>

		<br> <br>



		<form accept-charset="UTF-8" th:action="@{/newStandardOffer}" name="formstandard"
			th:object="${offer}" method="post" enctype="multipart/form-data"  onsubmit="return validateFormStandard()">


			<br>


			<div class="titreOffre">
				<h4>Offre</h4>
			</div>

			<br>

			<div class="row service">
				<div class="form-group">
					<p class="control-label">Cette offre est proposée par le service : <span th:text="${referent.service.libelle}"></span>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-2"> Titre :</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input th:field="${offer.title}" type="text" class="form-control"
							placeholder="Titre de l'offre" required>
					</div>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="form-group col-md-5">
					<label class="">Type de la mission :</label> <select size="1"
						th:field="${offer.type}" class="form-control" id="allMissions">
						<option th:each="mission : ${listMission}"
							th:value="${mission.id}" th:text="${mission.title}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label>D&eacute;tails de la mission : </label>
					<textarea th:field="${offer.mission}" class="form-control" rows="5"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12">
					<label>Comp&eacute;tences n&eacute;cessaires :</label>
					<textarea th:field="${offer.skills}" class="form-control" rows="5"></textarea>
				</div>
			</div>


			<div class="row">
				<div class="form-group">
					<label class="col-md-4">R&eacute;mun&eacute;ration (/heure)
						:</label>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<div class="col-md-2">
						<div class="input-group">
							<input th:field="${offer.remuneration}" class="form-control"
								required> <span class="input-group-addon">&euro;</span>
						</div>
					</div>
					<div class="col-md-5">
						<input th:field="${offer.remunerationInfo}"
							placeholder="Autres informations..." class="form-control"></input>
					</div>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="form-group">
					<label class="col-md-4">P&eacute;riode :</label>
				</div>
			</div>

			<div class="row">
				<div class="input-daterange" id="datepicker">
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon3">Du</span> <input
								type="text" class="form-control" placeholder="jj/mm/aaaa"
								name="start" th:field="${offer.startDate}" readonly="readonly"
								style="cursor: text; background: white;" required>
						</div>
					</article>
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon3">Au</span> <input
								type="text" class="form-control" placeholder="jj/mm/aaaa"
								name="end" th:field="${offer.endDate}" readonly="readonly"
								style="cursor: text; background: white;" required>
						</div>
					</article>
				</div>
			</div>

			<br>
			<div class="row">
				<div class="form-inline col-md-12">
					<label">Nombre d'heures par semaine :</label> <input
						class="col-md-2" th:field="${offer.hoursPerWeek}" type="number"
						class="form-control" required>
				</div>
			</div>


			<br>



			<div class="row">
				<div class="form-group col-md-3">
					<label>Date de validit&eacute; : </label> 
					<input type="text"
						class="form-control input-date" type="text" th:field="${offer.validityDate}"
						readonly="readonly"   style="cursor: text; background: white;"
						 required>

				</div>
			</div>


			<br>

			<div class="titreOffre">
				<h4>Contacts</h4>
			</div>

			<br>

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-2"> Nom :</label>
					<div class="col-md-3">
						<input type="text" th:field="${offer.responsible.lastName}"
							class="form-control" placeholder="Nom" required>
					</div>

					<div class="form-group">
						<label class="control-label col-md-2"> Pr&eacute;nom :</label>
						<div class="col-md-3">
							<input type="text" th:field="${offer.responsible.firstName}"
								class="form-control" placeholder="Pr&eacute;nom" required>
						</div>
					</div>
				</div>
			</div>



			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-2"> Mail :</label>
					<div class="col-md-3">
						<input th:field="${offer.responsible.email}" type="email"
							class="form-control" placeholder="monadresse@exemple.com"
							required>
					</div>

					<div class="form-group">
						<label class="control-label col-md-2">
							T&eacute;l&eacute;phone :</label>
						<div class="col-md-3">
							<input th:field="${offer.responsible.phone}" type="text"
								class="form-control col-md-3" placeholder="" required>
						</div>
					</div>
				</div>
			</div>


			<br> <br>
			<div class="row save">
				<article class="col-md-12 col-sm-12">
					<input type="submit" class="btn btn-lille1" value="Enregistrer">
				</article>
			</div>


		</form>

		<br>

	</div>

	<br>


</body>

<style>
.row {
	margin-left: 10%;
	margin-right: 10%;
}
</style>



</html>
