<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  xmlns:th="http://www.thymeleaf.org">

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<script src="js/wish.js"></script>
<script src="js/miscellaneous.js"></script>
<script src="js/header.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">
	
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="activeNav('offers')">

	<div th:include="headerReferent::headerReferent"></div>

	<div class="container containerOffer">
		<br>

		<button type="button" class="btn btn-lille1" data-toggle="modal" data-target="#myModal">Cr&eacute;er une nouvelle
			offre</button>
		
		
		
	
	
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Cr&eacute;ation d'une nouvelle offre.</h4>
					</div>
					<div class="modal-body">
						<a class="btn btn-lille1" th:href="@{/newGeneriqueOffer}">Offre générique</a>
						<a class="btn btn-lille1" th:href="@{/contracts}">Offre standard</a>
					</div>
				</div>

			</div>
		</div>
		<br>
		
		
		
			<!-- Mes offres en cours -->
		<div class="panel-group" id="accordion" role="tablist"
			aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading titreOffre" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapseOne" aria-expanded="true"
							aria-controls="collapseOne"> Mes offres en cours <span
							class="caret"></span></a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<table class="table table-responsive">

							<thead>
								<tr>
									<td><strong>N° de l'offre</strong></td>
									<td><strong>Libell&eacute;</strong></td>
									<td><strong>Responsable</strong></td>
									<td><strong>Date</strong></td>
									<td></td>
								</tr>

							</thead>
							
								 <span th:each="responsible : ${referent.responsible}">
		     					<tr th:each="offer: ${responsible.offers}" th:if="${offer.status}=='Validated'">
		     						<td>
						                <label th:text="${offer.id}"></label>
						        	</td>
						        	<td   th:text="${offer.title}">
						        	</td>
						       		<td> <span  th:text="${responsible.firstName}"></span><span></span> <span  th:text="${responsible.lastName}"></span>
						        	</td>
						       		<td  th:text="${offer.validityDate}"></td>
						        
		    		
									<td>
								
									<button type="button" class="btn btn-success"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-primary"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
									
									</td>
								</tr>
							</span>


						</table>
					</div>
				</div>
			</div>
		
		
		
		
		
			<!-- Mes offres en attente -->
			<div class="panel panel-default">
				<div class="panel-heading  titreOffre" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse"
							data-parent="#accordion" href="#collapseTwo"
							aria-expanded="false" aria-controls="collapseTwo"> Mes offres
							en attente de validation <span class="caret"></span>
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body"></div>
					<table class="table table-responsive">

							<thead>
								<tr>
									<td><strong>N° de l'offre</strong></td>
									<td><strong>Titre</strong></td>
									<td><strong>Responsable</strong></td>
									<td><strong>Date</strong></td>
									<td></td>
								</tr>

							</thead>
							
							
							 <span th:each="responsible : ${referent.responsible}">
		     					<tr th:each="offer: ${responsible.offers}" th:if="${offer.status}=='Waiting'">
		     						<td>
						                <label th:text="${offer.id}"></label>
						        	</td>
						        	<td   th:text="${offer.title}">
						        	</td>
						       		<td> <span  th:text="${responsible.firstName}"></span><span></span> <span  th:text="${responsible.lastName}"></span>
						        	</td>
						       		<td  th:text="${offer.validityDate}"></td>
						        
		    		
									<td>
								
									<button type="button" class="btn btn-success"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-primary"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
									
									</td>
								</tr>
							</span>


						</table>
				</div>
			</div>
			
			
				<!-- Mes offres refusée -->
			<div class="panel panel-default">
				<div class="panel-heading  titreOffre" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse"
							data-parent="#accordion" href="#collapseFour"
							aria-expanded="false" aria-controls="collapseFour"> Mes offres
							refus&eacute;e <span class="caret"></span>
						</a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingFour">
					<div class="panel-body"></div>
					<table class="table table-responsive">

							<thead>
								<tr>
									<td><strong>N° de l'offre</strong></td>
									<td><strong>Titre</strong></td>
									<td><strong>Responsable</strong></td>
									<td><strong>Date</strong></td>
									<td></td>
								</tr>

							</thead>
							
								 <span th:each="responsible : ${referent.responsible}">
		     					<tr th:each="offer: ${responsible.offers}" th:if="${offer.status}=='Refused'">
		     						<td>
						                <label th:text="${offer.id}"></label>
						        	</td>
						        	<td   th:text="${offer.title}">
						        	</td>
						       		<td> <span  th:text="${responsible.firstName}"></span><span></span> <span  th:text="${responsible.lastName}"></span>
						        	</td>
						       		<td  th:text="${offer.validityDate}"></td>
						        
		    		
									<td>
								
									<button type="button" class="btn btn-success"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-primary"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
									
									</td>
								</tr>
							</span>
							 


						</table>
				</div>
			</div>
			
			
			
				<!-- Mes offres passées -->
			<div class="panel panel-default">
				<div class="panel-heading  titreOffre" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed" role="button" data-toggle="collapse"
							data-parent="#accordion" href="#collapseThree"
							aria-expanded="false" aria-controls="collapseThree"> Mes
							offres passées <span class="caret"></span>
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body"></div>
					
					<table class="table table-responsive">
					
						<thead>
									<tr>
										<td><strong>N° de l'offre</strong></td>
										<td><strong>Titre</strong></td>
										<td><strong>Responsable</strong></td>
										<td><strong>Date</strong></td>
										<td></td>
									</tr>
	
						</thead>
						
						 <span th:each="responsible : ${referent.responsible}">
		     					<tr th:each="offer: ${responsible.offers}" th:if="${offer.status}=='Expired'">
		     						<td>
						                <label th:text="${offer.id}"></label>
						        	</td>
						        	<td  th:text="${offer.title}">
						        	</td>
						       		<td> <span  th:text="${responsible.firstName}"></span><span></span> <span  th:text="${responsible.lastName}"></span>
						        	</td>
						       		<td  th:text="${offer.validityDate}"></td>
						        
		    		
									<td>
								
									<button type="button" class="btn btn-success"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-primary"
										aria-label="Left Align">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
									
									</td>
								</tr>
							</span>
							
					</table>
				
				</div>
			</div>
		</div>
	
	
	

	</div>
</body>

<style>

.fade{
	text-align:center;
}
.container {
	border: solid 1px #ae2573;
}

.titreOffre, .panel-default>.panel-heading {
	background-color: #ae2573;
	color: white;
	text-align: center;
}

.boutonRond {
	width: 65px;
	height: 65px;
	background: #ae2573;
	font: bold 23px Arial;
	border-radius: 50%;
	border: none;
	color: white;
}

.btn-lille1, .btn-lille1 a{
	background-color: #ae2573;
	color: white;
	margin-bottom: 10px;
}

.boutonPlus {
	text-align: right;
	margin-right: 5%;
}

</style>

<script>
	function newOffer() {
		alert("lol");
	}
</script>


</html>
