<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">


<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">
<link type="text/css" href="/css/consult.css" rel="stylesheet" />

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="activeNav('contract');">
	<div  th:include="headerStaffLille1::headerStaffLille1"></div>
	<div class="container">
	
	
			
	<br>
	<div class="searchPart">
			<div id="searchTitle">Rédiger un contrat</div>
			<br/>
			<form class="navbar-form" method="post" role="search">

				<div class="row">

					<div class="col-md-3 col-md-offset-1">
						<div class="input-group">
							<span class="input-group-addon">NIP de l'étudiant </span> <input
								type="text" class="form-control" name="nip" id="nip"
								>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon">Type de contrat </span>
								<select size="1" class="form-control" name="type" id="type">
									<option value="0">Etudiant</option>
									<option value="1">Vacation</option>
								</select>
						</div>
					</div>
					
					<div class="col-md-3">
						<button class="btn btn-default" type="submit" onclick="alert('Nous vous rappelons que l\'établissement d\'un contrat est obligatoire avant de commencer la mission.\n Le paiement se fera uniquement sur service fait signé par un responsable.');">
							 <i class="glyphicon glyphicon glyphicon-pencil" > </i>
							Saisir
						</button>
					</div>
				</div>
			</form>
		</div><br/><br/>
		


		<div class="titreFormulaire">
			<label>Mes contrats saisies :</label>
		</div>
	
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
				<table class="table ">

					<thead>
						<tr>
							<td><strong>N° de contrat</strong></td>
							<td><strong>Etudiant</strong></td>
							<td><strong>Période</strong></td>
							<td><strong>Mission</strong></td>
							<td><strong>Statut</strong></td>
							<td></td>
						</tr>

					</thead>

					<tr th:each="contract : ${user.contracts}">
						<td th:text="${contract.id}"></td>
						<td>
						<span th:text="${contract.student.firstName}"></span> <span th:text="${contract.student.LastName}"></span>
						</td>
						
						<td>Du <span th:text="${{contract.startDate}}"></span> au <span th:text="${{contract.endDate}}"></span></td>
						
						<p><td th:text="${contract.mission}"></td></p>

						<td><span th:if="${contract.status}==false" class="glyphicon glyphicon-remove-sign"> Non signé</span>
						<span th:if="${contract.status}==true" class="glyphicon glyphicon-ok-sign"> Signé</span></td>
						
						<td>
						<a class="btn btn-info" aria-label="Left Align" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
						<a th:if="${contract.status}==false"  class="btn btn-success" aria-label="Left Align" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
						</td>
					</tr>



					</table>
					
				</div>
			</div>
		</div>


</body>

</html>

