
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<link type="text/css" href="/css/offer.css" rel="stylesheet" />

<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker.fr.min.js"></script>


<link rel="stylesheet" href="css/bootstrap-datepicker3.css">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/inputs.js"></script>
</head>


<body>

	<div th:include="headerStaffLille1::headerStaffLille1"></div>


	<div class="container containerOffer">

		<div>
			<h3>Saisie d'un contrat</h3>
		</div>
		<br />
		<br />




		<form accept-charset="UTF-8" th:action="@{/newContract}"
			name="formstandard" th:object="${contract}" method="post"
			enctype="multipart/form-data">

			<div class="titreOffre">
				<h4>Coordonn&eacute;es de l'&eacute;tudiant</h4>
			</div>

			<br />
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Nom d'usage </label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control"
							th:field="${contract.useName}">
					</div>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Nom de famille *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control"
							th:value="${student.lastName}" readonly>
					</div>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-2"> Pr&eacute;nom * </label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control"
							th:value="${student.firstName}" readonly>
					</div>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="form-group">
					<div class="col-md-3">
						<label>Date de naissance * </label> <input type="text"th:field="${contract.bornDate}" 
							class="form-control input-date" 
							style="cursor: text; background: white;"
							data-date-start-date="0d" data-date-end-date="+6m" required>
					</div>
					<div class="col-md-5">
						<label> Lieu de naissance *</label> <input type="text"
							th:field="${contract.bornPlace}" class="form-control" required>
					</div>
				</div>
			</div>

			<br />

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Nationalit&eacute;
						*</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control"
							th:value="${student.nationality}" readonly>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12">
						N°S&eacute;curit&eacute; Sociale *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control"
							th:field="${contract.numSecuriteSociale}" placeholder="" required>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12">Adresse personnelle
						*</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Rue"
							th:value="${student.address.street}" readonly>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control"
							placeholder="étage, bat ..."
							th:value="${student.address.complement}" readonly>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Ville"
							th:value="${student.address.city}" readonly>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="Code Postal"
							th:value="${student.address.postalCode}" readonly>
					</div>
				</div>
			</div>
			<br />
			<br />
			<div class="titreOffre">
				<h4>Information sur la mission</h4>
			</div>
			<br />

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Service d'accueil *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control"
							th:field="${contract.service}" required>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12">
					<label>D&eacute;tails de la mission * </label>
					<textarea th:field="${contract.mission}" class="form-control"
						rows="5" required></textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Nature des
						activitées *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" class="form-control"
							th:field="${contract.nature}" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-inline col-md-12">
					<label">Nombre d'heures effectives :</label> <input
						class="col-md-2" type="number" th:field="${contract.hours}"
						class="form-control" required>
				</div>
			</div>
			<br />

			<div class="row">
				<div class="form-group">
					<label class="col-md-4">Taux horaire brut de
						r&eacute;mun&eacute;ration * </label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<input class="form-control" th:field="${contract.rate}" required>
				</div>
			</div>

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Dates prévues des
						interventions *</label>
				</div>
			</div>
			<br />

			<div class="row">
				<div class="input-daterange" id="datepicker">
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon3"> Du</span> <input
								th:field="${contract.startDate}" type="text"
								class="form-control" placeholder="jj/mm/aaaa" name="start"
								readonly="readonly" style="cursor: text; background: white;"
								required>
						</div>
					</article>
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon3">Au</span> <input
								th:field="${contract.endDate}" type="text" class="form-control"
								placeholder="jj/mm/aaaa" name="end" readonly="readonly"
								style="cursor: text; background: white;" required>
						</div>
					</article>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Imputation
						bud&eacute;taire *</label>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="form-inline col-md-12">
					<label">Centre de cout </label> <input
						th:field="${contract.costCenter}" class="col-md-6"
						class="form-control" required>
				</div>
			</div>
			<div class="row">
				<div class="form-inline col-md-12">
					<label">Domaine fonctionnel </label> <input
						th:field="${contract.domaineFonctionel}" class="col-md-6"
						class="form-control" required>
				</div>
			</div>
			<div class="row">
				<div class="form-inline col-md-12">
					<label">Convention eOtp </label> <input
						th:field="${contract.convention_eOTP}" class="col-md-6"
						class="form-control" required>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="form-group">
					<label class="col-md-12">Resonsable de l'organisation du
						travail * </label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5">
					<input class="form-control" th:field="${contract.responsable}"
						required>
				</div>
			</div>

			<br> <br>
			<div class="row save">
				<article class="col-md-12 col-sm-12">
					<input name="action" type="submit" class="btn btn-lille1"
						value="Enregistrer">


				</article>
			</div>
		</form>

		<br>

	</div>

	<br>


</body>

<style>
.row {
	margin-left: 10%;
	margin-right: 10%;
}
</style>

</html>