
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<link type="text/css" href="/css/offer.css" rel="stylesheet" />

<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker.fr.min.js"></script>


<link rel="stylesheet" href="css/bootstrap-datepicker3.css">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/inputs.js"></script>

</head>


<body>

	<div th:include="headerStaffLille1::headerStaffLille1"></div>


	<div class="container containerOffer">

		<div>
			<h3>Saisie d'un contrat</h3>
		</div>
		<br /> <br />




		<form accept-charset="UTF-8" th:action="@{/newContract}"
			name="formstandard" th:object="${contract}" method="post"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-4">
					<div class="input-group">
						<span class="input-group-addon">Type de contrat</span> <input
							type="text" class="form-control" th:field="${contract.type}"
							th:value="${contract.type}"></input>
					</div>
				</div>
			</div>

			<div class="titreOffre">
				<h4>Informations de l'&eacute;tudiant</h4>
			</div>

			<br />

			<div class="row">
				<div class="col-md-3">
					<label>Nom : </label><span th:text="${student.lastName}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>Pr&eacute;nom : </label><span th:text="${student.firstName}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>NIP : </label><span th:text="${student.nip}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label> Nationalit&eacute; : </label><span
						th:text="${student.nationality}"></span>
				</div>
				<div class=" col-md-8" th:if="${student.nationality!='FRANCAISE'}">
					<label> Titre de s&eacute;jour :</label> <span
						th:text="${{student.dateVisa}}"></span>
				</div>
			</div>
			<br />
			
			<div class="titreOffre">
				<h4>Contrats de l'Etudiant</h4>
			</div>
			<br>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" align="center"> 
					<thead>
						<tr>
							<th>Employeur / Service</th>
							<th>Période</th>
							<th>Nombre d'heures total</th>
							<th>Mission</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contract : ${student.contract}"
							th:if="${contract.status}==true">
							<td>Lille 1 - <span th:text="${contract.referent.service.libelle}"></span>
							</td>

							<td>Du <span th:text="${{contract.startDate}}"></span> Au <span
								th:text="${{contract.endDate}}"></span>
							</td>

							<td><span th:text="${contract.hours}"></span></td>

							<td><span th:text="${contract.mission}"></span></td>

						</tr>
						<tr th:each="contract : ${student.externalContracts}" th:if="${!#strings.isEmpty(contract.employer)}">
							<td><span th:text="${contract.employer}"></span>
							</td>

							<td>Du <span th:text="${{contract.startDate}}"></span> Au <span
								th:text="${{contract.endDate}}"></span>
							</td>

							<td><span th:text="${contract.hours}"></span></td>

							<td><span th:text="${contract.missions}"></span></td>

						</tr>
						
					</tbody>
				</table>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<span> Nombre d'heures total travaillées : </span> <b><span th:text="${nbHours}"></span> heures </b>
				</div>
			</div>
			
			
			<br /> <br />
			<div class="titreOffre">
				<h4>Informations sur la mission</h4>
			</div>
			<br />

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Service d'accueil *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" th:value="${user.service.libelle}"
							class="form-control" readonly="readonly" required>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12">
					<label>D&eacute;tails de la mission * </label>
					<textarea th:field="${contract.mission}" class="form-control"
						rows="5" required></textarea>
				</div>
			</div>

			<div class="row">
				<div class="form-inline">
					<label> Nombre d'heures effectives :</label>
					<input class="form-control" type="number" th:field="${contract.hours}" required>
				</div> 
					
			</div>
			<br />

			<div class="row">
				<div class="form-group">
					<label class="col-md-4">Taux horaire brut de
						r&eacute;mun&eacute;ration * </label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<input class="form-control" th:field="${contract.rate}" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Dates prévues des
						interventions *</label>
				</div>
			</div>
			

			<div class="row">
				<div class="input-daterange" id="datepicker">
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon3"> Du</span> <input
								th:field="${contract.startDate}" type="text"
								class="form-control" placeholder="jj/mm/aaaa" name="start"
								readonly="readonly" style="cursor: text; background: white;"
								required>
						</div>
					</article>
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon3">Au</span> <input
								th:field="${contract.endDate}" type="text" class="form-control"
								placeholder="jj/mm/aaaa" name="end" readonly="readonly"
								style="cursor: text; background: white;" required>
						</div>
					</article>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Imputation
						budg&eacute;taire *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-inline col-md-12">
					<label>Centre de coût </label> <input
						th:field="${contract.costCenter}" class="col-md-6 form-control" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-12">
					<label>Domaine fonctionnel </label> <input
						th:field="${contract.domaineFonctionel}" class="col-md-6 form-control" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-12">
					<label>Convention eOtp </label> <input
						th:field="${contract.convention_eOTP}" class="col-md-6 form-control" required>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="form-group">
					<label class="col-md-12">Responsable de l'organisation du
						travail * </label>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-5">
					<input class="form-control" th:field="${contract.responsable}"
						required>
				</div>
			</div>

			<br> <br>
			<div class="row save">
				<article class="col-md-12 col-sm-12">
					<input name="action" type="submit" class="btn btn-lille1"
						value="Enregistrer">


				</article>
			</div>
		</form>

		<br>

	</div>


</body>


</html>
