
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<link type="text/css" href="/css/offer.css" rel="stylesheet" />

<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker.fr.min.js"></script>


<link rel="stylesheet" href="css/bootstrap-datepicker3.css">


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="js/inputs.js"></script>

</head>


<body>

	<div th:include="headerStaffLille1::headerStaffLille1"></div>


	<div class="container containerOffer">

		<div>
			<h3>Contrat <span th:text="${contract.type}"> n° <span th:text="${contract.id}"></span><</span></h3>
		</div>
		<br /> <br />

			<div class="titreOffre">
				<h4>Informations de l'&eacute;tudiant</h4>
			</div>

			<br />

			<div class="row">
				<div class="col-md-3">
					<label>Nom : </label><span th:text="${contract.student.lastName}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>Pr&eacute;nom : </label><span th:text="${contract.student.firstName}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label>NIP : </label><span th:text="${contract.student.nip}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label> Nationalit&eacute; : </label><span
						th:text="${contract.student.nationality}"></span>
				</div>
				<div class=" col-md-8" th:if="${contract.student.nationality!='FRANCAISE'}">
					<label> Titre de s&eacute;jour :</label> <span
						th:text="${{contract.student.dateVisa}}"></span>
				</div>
			</div>
			<br />
			
			<div class="titreOffre">
				<h4>Contrats de l'Etudiant</h4>
			</div>
			
			<div class="table-responsive">
				<table
					class="table table-striped table-bordered table-hover"
					align="center">
					<thead>
						<tr>
							<th>Emplyer / Service</th>
							<th>Période</th>
							<th>Nombre d'heures total</th>
							<th>Mission</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ct : ${contract.student.contract}"
							th:if="${ct.status}==true">
							<td>Lille 1 - <span th:text="${ct.referent.service.libelle}"></span>
							</td>

							<td>Du <span th:text="${{ct.startDate}}"></span> Au <span
								th:text="${{ct.endDate}}"></span>
							</td>

							<td><span th:text="${ct.hours}"></span></td>

							<td><span th:text="${ct.mission}"></span></td>

						</tr>
						<tr th:each="ct : ${contract.student.externalContracts}" th:if="${!#strings.isEmpty(ct.employer)}">
							<td><span th:text="${ct.employer}"></span>
							</td>

							<td>Du <span th:text="${{ct.startDate}}"></span> Au <span
								th:text="${{ct.endDate}}"></span>
							</td>

							<td><span th:text="${ct.hours}"></span></td>

							<td><span th:text="${ct.missions}"></span></td>

						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<label> Nombre d'heures total travaillées : </label><span th:text="${nbHours}"></span> heures
				</div>
			</div>
			
			
			<br /> <br />
			<div class="titreOffre">
				<h4>Information sur la mission</h4>
			</div>
			<br />

			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Service d'accueil *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6">
						<input type="text" th:value="${user.service.libelle}" class="form-control" readonly="readonly" required>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-12">
					<label>D&eacute;tails de la mission * </label>
					<textarea th:text="${contract.mission}" class="form-control" rows="5" readonly="readonly" required></textarea>
				</div>
			</div>

			<div class="row">
				<div class="form-inline ">
					<label>Nombre d'heures effectives :</label> <input
						class=" form-control" type="number" th:value="${contract.hours}" readonly="readonly" required>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="form-group">
					<label class="col-md-4">Taux horaire brut de
						r&eacute;mun&eacute;ration * </label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<input class="form-control" th:value="${contract.rate}" readonly="readonly" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Dates prévues des
						interventions *</label>
				</div>
			</div>

			<div class="row">
			
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon"> Du</span> <input
								class="form-control" style="background: white;" th:value="${contract.startDate}" readonly="readonly">
						</div>
					</article>
					<article class="col-md-3">
						<div class="input-group">
							<span class="input-group-addon">Au</span> <input class="form-control" style="background: white;"
								th:value="${contract.endDate}" readonly="readonly">
						</div>
					</article>
			</div>
			<br>
			<div class="row">
				<div class="form-group">
					<label class="control-label col-md-12"> Imputation
						bud&eacute;taire *</label>
				</div>
			</div>
			<div class="row">
				<div class="form-inline col-md-12">
					<label>Centre de cout </label> <input
						th:value="${contract.costCenter}" class="col-md-6 form-control" readonly="readonly" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-12">
					<label>Domaine fonctionnel </label> <input
						th:value="${contract.domaineFonctionel}" class="col-md-6 form-control" readonly="readonly" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="form-inline col-md-12">
					<label>Convention eOtp </label> <input
						th:value="${contract.convention_eOTP}" class="col-md-6 form-control" readonly="readonly" required>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="form-group">
					<label class="col-md-12">Resonsable de l'organisation du
						travail * </label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5">
					<input class="form-control" th:value="${contract.responsable}" readonly="readonly" 
						required>
				</div>
			</div>

		<br>

	</div>



</body>


</html>
