<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Informations divers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div th:fragment="content">
		<div class="row">

			<div class="label-wrapper">
				
					<label  for="radios">Faites-vous
							partie d'une association : 
					</label>
					<label class="radio-inline" for="radios-0"> <input
							type="radio" name="radios" id="radios-0" value="${true}">
							Oui
					</label>
					<label class="radio-inline" for="radios-1"> <input
							type="radio" name="radios" id="radios-1" value="${false}">
							Non
					</label>
				
			</div>

		</div>

		<div class="form-group">
			<label for="Association">Si oui, précisez le nom de
				l'association, sa mission, votre rôle:</label>
			<textarea class="form-control" rows="5" id="nameAssociation"
				style="resize: none" th:field="${student.misc.nameAssociation}"></textarea>
		</div>

		<div class="form-group">
			<label for="ConnaissancesInfos">Précisez vos connaissances
				informatiques :</label>
			<textarea class="form-control" rows="5" id="itKnowledge"
				style="resize: none" th:field="${student.misc.itKnowledge}"></textarea>
		</div>

		<div class="form-group">
			<label for="ConnaissancesInfos">Maîtrisez-vous d’autres
				langues que le français ? (précisez lesquelles et le niveau)</label>
			<textarea class="form-control" rows="5" id="languages"
				style="resize: none" th:field="${student.misc.languages}"></textarea>
		</div>

		<div class="form-group">
			<label for="ConnaissancesInfos">Avez-vous suivi d’autres
				formations (BAFA, secouriste, …)</label>
			<textarea class="form-control" rows="5" id="otherFormations"
				style="resize: none" th:field="${student.misc.otherFormations}"></textarea>
		</div>

	</div>
</body>
</html>