	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Formations</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
		rel="stylesheet">
	</head>
	<body>
		<div th:fragment="content">

			<h2>Formations</h2>
			<h3>Formation actuelle</h3> 
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover"  align="center">
					<thead>
					
						<tr>
							<th>Ann&eacute;e</th>
							<th>Nom de la formation</th>
							<!--  <th>Lieu</th>-->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td >2016/2017</td>
							<!--  <td><input type="text" class="form-control"  name="nomformact" th:field="${student.training.name}"></td>-->
							<td th:text="${training}" th:value="${student.training.name}"  /></td>

						</tr>
					</tbody>
				</table>
			</div>





	<!-- 
	 <h3>Formations précédentes</h3>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Ann&eacute;e</th>
					<th>Nom de la formation</th>
					<th>Lieu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="form-control"  name="anneescol1"></td>
					<td><input type="text" class="form-control"  name="nomforma1"></td>
					<td> <input type="text" class="form-control"  name="lieuforma1"></td>

				</tr>
				<tr>
					<td><input type="text" class="form-control"  name="anneescol2"></td>
					<td><input type="text" class="form-control"  name="nomforma2"></td>
					<td> <input type="text" class="form-control"  name="lieuforma2"></td>

				</tr>
				<tr>
					<td><input type="text" class="form-control"  name="anneescol3"></td>
					<td><input type="text" class="form-control"  name="nomforma3"></td>
					<td> <input type="text" class="form-control"  name="lieuforma3"></td>

				</tr>
				<tr>
					<td><input type="text" class="form-control"  name="anneescol4"></td>
					<td><input type="text" class="form-control"  name="nomforma4"></td>
					<td> <input type="text" class="form-control"  name="lieuforma4"></td>

				</tr>
				<tr>
					<td><input type="text" class="form-control"  name="anneescol5"></td>
					<td><input type="text" class="form-control"  name="nomforma5"></td>
					<td> <input type="text" class="form-control"  name="lieuforma5"></td>

				</tr>
			</tbody>
		</table>
	</div>
	</div>
-->

		
	</div>

	</body>
	</html>