<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Motivations</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body style="margin-left: 10px; margin-right: 10px;"
	onload="countChars(document.getElementById('motivations').value)">
	<div th:fragment="content">
		<h2>Vos motivations</h2>

		<div>
			<textarea class="form-control" id="motivations"
				th:value="${student.motivation}" th:field="${student.motivation}"
				oninput="countChars(this.value)" maxlength="900" rows="10"
				style="resize: none;"></textarea>
		</div>
		<div>
			<h5>
				<b><span id="checkCount" style="color: red">&#x2718;</span></b><i>
					Entre 450 et 900 caractères (<span id="charsCount">0</span>)
				</i>
			</h5>
		</div>

		<script>
			function countChars(val) {
				document.getElementById("charsCount").innerHTML = val.length;

				var checkCount = document.getElementById("checkCount");
				if (val.length >= 450) {
					checkCount.innerHTML = "&#x2714;";
					checkCount.style.color = "green";
				} else {
					checkCount.innerHTML = "&#x2718;";
					checkCount.style.color = "red";
				}
			}
		</script>
</body>

</html>