<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Informations Personnelles</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div th:fragment="content">

		<h2>Disponibilit&eacute;s</h2>
		<br>

		<table>
			<tr>
				<td><label> Du : </label></td>
				<td><input th:type="text" id="startDate"
						th:field="${student.availability.startDate}" /></td>
				<td><label> au : </label></td>
				<td><input th:field="${student.availability.endDate}" th:type="text"
						id="endDate" /></td>
			
			</tr>
		
		</table>
					 
			

		<br>
		<table class="availabilityTab">

			<tr>
				<td class="dayAvailability">Lundi</td>
				<td class="dayAvailability">Mardi</td>
				<td class="dayAvailability">Mercredi</td>
				<td class="dayAvailability">Jeudi</td>
				<td class="dayAvailability">Vendredi</td>
			</tr>
			<tr>
				<td class="dayAvailability">
					<input type="text" th:field="${student.availability.startTimeMonday}" /> à 
					<input type="text" th:field="${student.availability.endTimeMonday}" />
				</td>
				<td class="dayAvailability">
					<input type="text"  th:field="${student.availability.startTimeTuesday}" /> à 
					<input type="text"  th:field="${student.availability.endTimeTuesday}" />
				</td>
				<td class="dayAvailability">
					<input type="text" th:field="${student.availability.startTimeWednesday}" /> à 
					<input type="text" th:field="${student.availability.endTimeWednesday}" /></td>
				<td class="dayAvailability">
					<input type="text" th:field="${student.availability.startTimeThursday}" /> à 
					<input type="text" th:field="${student.availability.endTimeThursday}" />
				</td>
				<td class="dayAvailability">
					<input type="text" th:field="${student.availability.startTimeFriday}" /> à 
					<input type="text" th:field="${student.availability.endTimeFriday}" />
				</td>
			</tr>
		</table>
		<br>
		<br>
		<div class="indications">
			<p>
				Veuillez entrez les créneaux entre lesquels vous êtes disponible.<br>
				Exemple Lundi de 10 heures à 18 heures : Dans la colonne Lundi
				entrez 10 à 18.
			</p>
		</div>
		<br>
	</div>

</body>
</html>