<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="content">

		<h2>Vos informations personnelles</h2>
		<br>

		<table>

			<tr>
				<td><label> Nom : </label></td>
				<td><input class="form-control input-sm" type="text"
					th:field="${student.lastName}" id="lastName" /></td>
				<td><label> Pr&eacute;nom : </label></td>
				<td><input class="form-control input-sm" type="text"
					th:field="${student.firstName}" id="firstName" /></td>
			</tr>
			<tr>
				<td><label> Mail : </label></td>
				<td> <input class="form-control input-sm"
					th:field="${student.email}" type="email" id="email" /></td>
				<td> <label>
					T&eacute;l&eacute;phone : </label></td>
				<td><input class="form-control input-sm"
					th:field="${student.phone}" type="text" id="phone" /></td>
			</tr>
			
			<tr>
				<td><label> Rue : </label></td>
				<td> <input class="form-control input-sm"
					th:field="${student.address.street}" type="text" id="street" /></td>
				<td> <label>
					Complement : </label></td>
				<td><input class="form-control input-sm"
					th:field="${student.address.complement}" type="text"
					id="complement" /></td>
			</tr>

			<tr>
				<td><label> Ville : </label></td>
				<td><input class="form-control input-sm"
					th:field="${student.address.city}" type="text" id="city" /></td>
				<td><label>
					Code postal : </label></td>
				<td><input class="form-control input-sm"
					th:field="${student.address.postalCode}" type="text"
					id="postalCode" /></td>
			</tr>
			
			<tr>
				<td><label class="control-label" for="selectbasic">Nationalité</label></td>
				<td><select th:field="${student.nationality}" id="selectbasic"
						name="selectbasic" class="form-control">
						<option value="france">France</option>
						<option value="spain">Espagne</option>
						<option value="italy">Italie</option>
						<option value="united-kingdom">Royaume-Uni</option>
						<option value="canada">Canada</option>
						<option value="united-states">Etats-Unis</option>
						<option value="china">Chine</option>
						<option value="japan">Japon</option>
					</select></td>
				<td></td>
				<td></td>
			</tr>
			
			<tr>
				<td><label class="control-label" for="radios">Titre de séjour :
					</label></td>
				<td><label>Oui</label><input type="radio" name="radios"
							id="validVISA" value="validVISA" onClick="test()"
							checked="checked"></td>
				<td><label>Non</label> <input type="radio"
							name="radios" id="InvalidVISA" onClick="test()"
							value="InvalidVISA" checked="checked"></td>
				<td id="divExpiryDateVISA"><label> Date de validit&eacute;e : </label><input th:type="text"
								th:field="${student.dateVisa}" /></td>
			</tr>

		</table>



		<script>
			function test() {
				if (eval(document.getElementById("validVISA").checked == true)) {
					document.getElementById('divExpiryDateVISA').style.display = 'block';
				}
				if (eval(document.getElementById("InvalidVISA").checked == true)) {
					document.getElementById('divExpiryDateVISA').style.display = 'none';
				}
			}
		</script>
</body>
</html>