
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Publication</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body style="margin-left: 10px; margin-right: 10px;">
	<div th:fragment="content">

		<br>
		<h2>Publication de la candidature</h2>
		<br>
		<div>
		<p>Recevoir un mail à chaque fois qu'une offre est crée ?  
		<input type="radio" th:field="${student.emailSubscribe}" th:value="1" />Oui
  		<input type="radio" th:field="${student.emailSubscribe}" th:value="0" checked/>Non
  		</p>
		</div>
		
		<p>Vous pouvez finaliser votre candidature en cliquant sur le bouton "Publier" ci-dessous.</p>
		<input type="submit" class="btn btn-lille1" name="action" value="Publier" onclick="selectMission()">
	
	</div>
</body>

</html>