<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Contrats</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
	<div th:fragment="content">
	
		<br>
		<br>
		<h4 class="titreFormulaire">Vos contrats Lille 1</h4>
		<br>
		
		<br>
		<h4 class="titreFormulaire">Vos autres contrats (hors Lille 1)</h4>
		<br>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" align="center">
				<thead>
					<tr>
						<th>Employeur</th>
						<th>Période</th>
						<th>Nombre d'heures total</th>
						<th>Missions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="externalContract, stat : ${student.externalContracts}">
					
                        <td><input type="text" class="form-control" th:value="${student.externalContracts[__${stat.index}__].employer}" th:field="${student.externalContracts[__${stat.index}__].employer}"></td>
					
						<td>
					    <div class="input-group input-daterange">
						    <div class="input-group-addon">Du</div>
						    <input type="text" class="form-control" th:value="${student.externalContracts[__${stat.index}__].startDate}" th:field="${student.externalContracts[__${stat.index}__].startDate}"
						    readonly="readonly" style="cursor:text; background:white;">
						    <div class="input-group-addon" style="border-left:none; border-right:none">au</div>
						    <input type="text" class="form-control" th:value="${student.externalContracts[__${stat.index}__].endDate}" th:field="${student.externalContracts[__${stat.index}__].endDate}"
						    readonly="readonly" style="cursor:text; background:white;">
						</div>
						</td>
					    
                       	<td>
                       	<div class="form-group" style="margin-bottom:0" th:classappend="${#fields.hasErrors('externalContracts[__${stat.index}__].hours')}? 'has-error has-feedback'">
                       		<input type="text" class="form-control input-integer" th:value="${student.externalContracts[__${stat.index}__].hours}" th:field="${student.externalContracts[__${stat.index}__].hours}"
                       		data-toggle="tooltip" data-placement="bottom" th:title="${#strings.listJoin(#fields.errors('externalContracts[__${stat.index}__].hours'), ',')}">
                       		<span th:if="${#fields.hasErrors('externalContracts[__${stat.index}__].hours')}"
                       		class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></span>
						</div>
						</td>
                        
                        <td><input type="text" class="form-control" th:value="${student.externalContracts[__${stat.index}__].missions}" th:field="${student.externalContracts[__${stat.index}__].missions}"></td>
					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>