<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Test chargement CV</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div th:fragment="content">
		<h1>Formulaire de test pour le chargement du CV</h1>
		<br /> <br />
		<tr>
			<td>Fichier à charger:</td>
		</tr>
		<input type="file" name="fichier" />
		<button type="button" class="btn btn-primary">Charger votre
			CV</button>
</body>
</html>