<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Informations personnelles</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
	<div th:fragment="content">

		<br> <br>
		<h4 class="titreFormulaire">Vos informations</h4>
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<div class="row">
					<div class="col-md-6">
						<label>Nom : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control" th:value="${student.lastName}"
							th:field="${student.lastName}" id="lastName" readonly>
					</div>
				</div>
				<br>
				<div class="row form-group"
					th:classappend="${#fields.hasErrors('email')}? 'has-error'">
					<div class="col-md-6">
						<label class="control-label">Mail * : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control" th:value="${student.email}"
							th:field="${student.email}" id="email">
						<p th:if="${#fields.hasErrors('email')}" style="color: darkRed;"
							th:errors="${student.email}"/>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<label for="selectbasic">Nationalité : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control" th:value="${student.nationality}"
							th:field="${student.nationality}" readonly>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="row">
					<div class="col-md-6">
						<label>Pr&eacute;nom : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control" th:value="${student.firstName}"
							th:field="${student.firstName}" id="firstName" readonly>
					</div>
				</div>
				<br>
				<div class="row form-group"
					th:classappend="${#fields.hasErrors('phone')}? 'has-error'">
					<div class="col-md-6">
						<label class="control-label">T&eacute;l&eacute;phone * : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control input-phonenumber"
							th:value="${student.phone}" th:field="${student.phone}"
							type="text" id="phone">
						<p th:if="${#fields.hasErrors('phone')}" style="color: darkRed;"
							th:errors="${student.phone}"/>
					</div>
				</div>
			</div>
			<br>
		</div>
		<br>

		<div class="row">
			<div class="col-md-6 col-xs-6">
				<div class="row form-group">
					<div class="col-md-6">
						<label class="control-label" for="radios">Titre de séjour : </label>
					</div>
					<div class="col-md-6">
						<input type="radio" name="radios" id="InvalidVISA"
							value="InvalidVISA" onClick="test()"
							th:checked="${student.dateVisa == null}"> <label>Non</label>
						<input type="radio" name="radios" id="validVISA" value="validVISA"
							onClick="test()" th:checked="${student.dateVisa != null}">
						<label>Oui</label>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-6 divExpiryDateVISA"
				th:style="${student.dateVisa != null} ? 'display:block' : 'display:none'">
				<div class="row form-group">
					<div class="col-md-6">
						<label class="control-label">Date de validit&eacute; : </label>
					</div>
					<div class="col-md-6">
						<input type="text" id="datevisa" class="form-control input-date"
							th:value="${student.dateVisa}" th:field="${student.dateVisa}"
							readonly="readonly" style="cursor: text; background: white;" />
					</div>
				</div>
			</div>
			<br>
		</div>
		<br>

		<h4 class="titreFormulaire">Votre adresse</h4>
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<div class="row form-group"
					th:classappend="${#fields.hasErrors('address.street')}? 'has-error'">
					<div class="col-md-6">
						<label class="control-label">Rue * : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control" th:value="${student.address.street}"
							th:field="${student.address.street}" type="text">
						<p th:if="${#fields.hasErrors('address.street')}" style="color: darkRed;"
							th:errors="${student.address.street}"/>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">Complément : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control"
							th:value="${student.address.complement}"
							th:field="${student.address.complement}" type="text"
							id="complement">
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="row form-group"
					th:classappend="${#fields.hasErrors('address.city')}? 'has-error'">
					<div class="col-md-6">
						<label class="control-label">Ville * :</label>
					</div>
					<div class="col-md-6">
						<input class="form-control" th:value="${student.address.city}"
							th:field="${student.address.city}" type="text" id="city">
						<p th:if="${#fields.hasErrors('address.city')}" style="color: darkRed;"
							th:errors="${student.address.city}"/>
					</div>
				</div>
				<br>
				<div class="row form-group"
					th:classappend="${#fields.hasErrors('address.postalCode')}? 'has-error'">
					<div class="col-md-6">
						<label class="control-label">Code postal * : </label>
					</div>
					<div class="col-md-6">
						<input class="form-control input-integer"
							th:value="${student.address.postalCode}"
							th:field="${student.address.postalCode}" type="text"
							id="postalCode">
						<p th:if="${#fields.hasErrors('address.postalCode')}" style="color: darkRed;"
							th:errors="${student.address.postalCode}"/>
					</div>
				</div>
			</div>
			<br>
		</div>
		<br>

		<h4 class="titreFormulaire">Votre curriculum vitae</h4>
		<div class="row">
			<div class="col-md-12" th:if="${student.cv}==NULL">
				<label class="left control-label">Déposez votre CV : </label> <input
					type="file" name="file" />
				<div th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}"></a>
				</div>
			</div>
			<div class="col-md-12" th:if="${student.cv}!=NULL">



				<label style="display: inline-block;">Modifier votre CV</label> <br>​
				<input type="file" name="file" style="display: inline-block;" /> <br>

				<div th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}"></a>
				</div>
				<br>

			</div>
		</div>
		<div class="row">
		
			<div class="col-md-12 cv" th:if="${student.cv}!=NULL">
				<iframe class="cvIframe" th:attr="src=${pathCV}"></iframe>
				<br>
			</div>
		</div>


		<br> <br>
		<p>* champs obligatoires
		<p>


			<script>
				function test() {
					var x = document
							.getElementsByClassName("divExpiryDateVISA");

					if (eval(document.getElementById("validVISA").checked == true)) {
						x[0].style.display = "block";
						$('#datevisa').val('');
					}
					if (eval(document.getElementById("InvalidVISA").checked == true)) {
						x[0].style.display = "none";
					}
				}
			</script>
	</div>
</body>

</html>