<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Introduction</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body style="margin-left: 10px; margin-right: 10px;">
	<div th:fragment="content">

		<br>
		<h2>Introduction</h2>
		<br>

		<p>Afin de publier votre candidature, vous devez remplir les champs obligatoires (*) de chaques onglets.</p>
		<p>Vous pouvez enregistrer vos modifications en cliquant sur le bouton enregistrer en bas de chaque formulaire.</p>
	
	</div>
</body>

</html>