.thumbnail {
	border: solid 1px #ae2573;
}

.text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 3%;
}

.studentName {
	text-align: center;
	font-size: 15px;
}

.containerCustom {
	padding-bottom: 15%;
}

.titlePage {
	text-align: center;
	font-size: 22px;
	background-color: #ae2573;
	color: white;
	border-radius: 5px;
}

#searchTitle{
	margin-left: 1%;
	font-style: italic;
}

.searchPart{
	background-color : white;
	padding-bottom: 1%;
	padding-top: 1%;
	margin-bottom: 3%;
    border-radius: 5px;
	border: solid 1px #ae2573;
}

.alert-info{
	margin-right: 1%;
	margin-left:  1%;
	border: solid 1px lightblue;
}

.glyphicon-search{
	margin-top: 3px;
}

.centered-text {
	text-align: center;
}
