.titleOffer{
	margin-top: 7%;
	text-align: center;
	font-size: 26px;
	margin-bottom: 7%;
}

.title{
	color : #ae2573;
}

.container {
	border: solid 1px #ae2573;
	background-color: white;
	margin-bottom: 7%;
	text-align: center;
}

.titleTab {
	background-color: #ae2573;
	color: white;
	text-align: center;
	border-radius:5px;
	margin-bottom: 2%;
}

