body{
background-color:lightgrey;
   background-size:cover;
background-image:url(../img/fond.jpg);
}


.jumbotron{
background-color:white;}


.headerImg{
	margin-top:30px;
	margin-bottom:30px;
}

.headerImg img{
	margin-left:20px;
}

.tab-pane{
	border-radius:10px;
	background:white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #ae2573;
	background-color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.titreFormulaire{

	border-radius:5px;	
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
	background-color: white;
	color: #ae2573;
	border: 1px solid #ae2573;
}

.container-fluid {
	background-color: #ae2573;
	color: #337ab7;
}

.containerProfil{
	background:white;
	border-radius:10px;
}

.containerOffer{
	background:white;
	border-radius:10px;
}

.containerAuthentication{
	margin-top:10%;	
}

#ongletLille1 {
	background-color: #ae2573;
	color: white;
	border-radius: 4px;
	margin-bottom: 4px;
}


a {
	color: white;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.btn-lille1 {
	background-color: #ae2573;
	color: white;
	margin-bottom: 10px;
}