.slide{
	text-align:center;
	background:grey;
	opacity:0.3;
	color:white;
}

body{
	background-color:lightgrey;
   background-size:cover;
	background-image:url(../img/fond.jpg);
}


.jumbotron{
	background-color:white;
	border-style:solid;
	border-width: 1px;
	border-radius : 10px;
	border-color: #ae2573;
}


.headerImg{
	margin-top:30px;
	margin-bottom:30px;
}

.headerImg img{
	margin-left:20px;
}

.tab-pane{
	border-radius:10px;
	background:white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #ae2573;
	background-color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.titreFormulaire{
	background-color: #ae2573;
	color:white;
	margin-bottom:40px;
	text-align:center;
	border-radius:5px;	
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: white;
	color: #ae2573;
	border: 1px solid #ae2573;
}

.nav-pills>li.active.error-tab>a, .nav-pills>li.active.error-tab>a:focus, .nav-pills>li.active.error-tab>a:hover {
	background-color: white;
	color: #bc2929;
	border: 1px solid #bc2929;
}

.nav-pills>li.error-tab>a, .nav-pills>li.error-tab>a:focus, .nav-pills>li.error-tab>a:hover {
	background-color: #bc2929;
	color: white;
	font-weight: bold;
}

.backgroundHeader {
	background-color: #ae2573;
	color: #337ab7;
}

.containerProfil{
	background:white;
	border-radius:10px;
}

.containerOffer, .containerWhite{
	background:white;
	border-radius:10px;
	border: 1px solid #ae2573;
}


.containerAuthentication{
	margin-top:10%;	
}

#ongletLille1 {
	background-color: #ae2573;
	color: white;
	border-radius: 4px;
	margin-bottom: 4px;
}

.cvIframe{
	width:80%;
	height:80%;
}

a {
	color: white;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.btn-lille1 {
	background-color: #ae2573;
	color: white;
	margin-bottom: 10px;
}