<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title></title>


<script src="js/header.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">
	
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body onload="activeNav('gestionModerator')">

	<div th:include="headerStaffLille1::headerStaffLille1"></div>

	<div class="container containerWhite">
		<form accept-charset="UTF-8" th:action="@{/newModerator}" th:object="${moderator}"
				method="post">
				
				<div class="row">
				
					<div class="col-md-12">
						<h3 class="titreFormulaire"> Ajouter un gestionnaire</h3>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4" >
						<label>Nom du mod&eacute;rateur :</label>
					</div>
				</div>
				<div class="row">
						<div class="col-md-6" >
							<input class="form-control" th:field="${moderator.name}" type="text" 
								placeholder="Nom" required>
						</div>
				</div>	
				<br>
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-lille1 col-md-6">Valider</button>
					</div>
				</div>
		</form>
	</div>
</body>
</html>