<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title></title>


<script src="js/header.js"></script>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">

<link rel="stylesheet" href="css/gestionUser.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body onload="activeNav('gestionReferent')">

	<div th:include="headerStaffLille1::headerStaffLille1"></div>

	<div class="container containerWhite">
		<form accept-charset="UTF-8" th:action="@{/newReferent}"
			th:object="${referent}" method="post">

			<div class="row">

				<div class="col-md-12">
					<h3 class="titreFormulaire">Ajouter un r&eacute;f&eacute;rent</h3>
				</div>
			</div>

			<div class="row">
			<div class="col-md-4"></div>
				<div class="col-md-4">
					<label>Nom du r&eacute;f&eacute;rent</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<input class="form-control" th:field="${referent.name}" type="text"
						placeholder="Nom" required>
				</div>
			</div>
			<br>
			
			<div class="row">
				<div class="col-md-4"></div>
				<div class="form-group col-md-4">
					<label class="">Service :</label> <select size="1"
						th:field="${referent.service}" class="form-control" id="allMissions">
						<option th:each="services : ${service}"
							th:value="${services.code}" th:text="${services.libelle}"></option>
					</select>
				</div>
			</div>
			
			
			
			<br>
			<div class="row">
			
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button class="btn btn-lille1">Valider</button>
				</div>
			</div>
		</form>
	</div>
	
	<br>
	<br>
	<br>

	<div class="container containerWhite">

		<div class="row">

			<div class="col-md-12">
				<h3 class="titreFormulaire">Vos r&eacute;f&eacute;rens :</h3>
			</div>
		</div>
			<div class="row">
			<span th:each="referent : ${user.referents}">
				
					<div class="col-sm-6 col-md-3">
						<div class="thumbnail">
							<img src="img/profil.png" alt="...">
							<div class="caption">
								<p><strong>Nom : </strong><span  th:text="${referent.name}"></span></p>
									
								<a  th:href="@{/deleteReferent(name=${referent.name},mode=${user.name})}" class="btn btn-danger" role="button">Supprimer</a> 
							
							</div>
						</div>
					</div>
				</div>
			</span>
			</div>
	</div>
</body>
</html>