<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<title></title>
<script src="js/header.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/gestionUser.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body onload="activeNav('nextYear')">

	<div th:include="headerStaffLille1::headerStaffLille1"></div>
		<div class="container">
  		<div class="jumbotron">
	<p>Dans cet onglet, il est possible de gérer les candidatures des étudiants pour l'année scolaire suivante, pour cela il vous suffit de cliquer sur le bouton afin d'envoyer un email aux étudiants precedemment inscrits. 
	Leurs candidatures seront alors en attente et ils devront de nouveau publier leurs candidatures dans les 30 jours sinon elles seront dépubliées<p>	
	</p>
	</div>
	</div>
		<div class="col-md-4"></div>
			<div class="col-md-4">
				<button data-th-action="@{/newYear}" class="btn btn-lille1">Passer à l'année scolaire suivante</button>
			</div>				
</body>
</html>
