<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title></title>


<script src="js/header.js"></script>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">

<link rel="stylesheet" href="css/gestionUser.css">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<script type="text/javascript" language="javascript"
	src="js/jquery.flot.js"></script>
<script type="text/javascript" language="javascript"
	src="js/jquery.flot.pie.js"></script>


<style type="text/css">
body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

#placeholder {
	width: 250px;
	height: 150px;
}

#placeholder2 {
	width: 250px;
	height: 150px;
}

#placeholder3 {
	width: 250px;
	height: 150px;
}
.legend table, .legend>div {
	height: 82px !important;
	opacity: 1 !important;
	left: 170px;
	top: 10px;
	width: 116px !important;
}

.legend table {
	border: 1px solid #555;
	padding: 5px;
}
</style>

</head>

<body onload="activeNav('stats')">

	<div th:include="headerStaffLille1::headerStaffLille1"></div>

	<div class="container containerWhite">

		<div class="row">

			<div class="col-md-12">
				<h4 class="titreFormulaire">Statistiques</h4>
			</div>
		</div>
		<div class="row">

			<div class="col-md-3">
				<div id="donut-example"></div>

			</div>


			<div class=row>

				<div class="col-md-3 col-md-offset-3">
					<label>Offre(s)</label>
					<div id="placeholder"></div>
					<br>
					<label>Candidature(s)</label>
					<div id="placeholder2"></div>	
					<br>
				</div>
			</div>

		</div>
	</div>
</body>
<script type="text/javascript">
Morris.Donut({
	  element: 'donut-example',
	  data: [
	    {label: "Utilisateurs", value: [[${nbUser}]]},
	    {label: "Etudiants", value: [[${nbEtudiant}]]},
	    {label: "Personnel Lille 1", value: [[${nbLille1}]]}
	  ]
	});
	
	

         
        $(document).ready(function () {
        	$.plot($("#placeholder"), data, {
        	    series: {
        	        pie: {
        	            show: true
        	        }
        	    },
        	    legend: {
        	        labelBoxBorderColor: "none"
        	    }
        	});

        	$.plot($("#placeholder2"), data2, {
        	    series: {
        	        pie: {
        	            show: true
        	        }
        	    },
        	    legend: {
        	        labelBoxBorderColor: "none"
        	    }
        	});
        
        });
        var data = [
                    { label: "En attente ("+[[${offreWaiting}]]+")",  data:[[${offreWaiting}]], color: "#4572A7"},
                    { label: "Acceptée ("+[[${offrePubliees}]]+")",  data: [[${offrePubliees}]], color: "#89A54E"},
                    { label: "Refusée ("+[[${offreRefused}]]+")",  data: [[${offreRefused}]], color: "#AA4643"},
                    { label: "Passée ("+[[${offrePassed}]]+")",  data: [[${offrePassed}]], color: "#e09a4f"},
                ];
        
        var data2 = [
                    { label: "Publiées ("+[[${nbStudentPublished}]]+")",  data:[[${nbStudentPublished}]], color: "#89A54E"},
                    { label: "Non publiées ("+[[${nbStudentUnpublished}]]+")",  data: [[${nbStudentUnpublished}]], color: "#e09a4f"}
                ];

</script>
</html>