<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<script src="js/wish.js"></script>
<link rel="stylesheet" href="css/header.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>



<body>

	<form th:object="${student}" th:action="@{/authentication}"
		method="post">
		<div class="container containerAuthentication">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Authentification : Étudiant</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<input th:field="${student.nip}" class="form-control"
									placeholder="Nip" name="Nip" type="text" autofocus>
								<div class="checkbox">
									<label> <input name="remember" type="checkbox"
										value="Remember Me">Se souvenir de moi
									</label>
								</div>

								<input type="submit" class="btn btn-block btn-lille1"
									value="Se connecter">
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<form th:object="${referent}" th:action="@{/authentication}"
		method="post">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Authentification : Référent</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<input th:field="${referent.name}" class="form-control"
									placeholder="Name" name="Name" type="text" autofocus>
								<div class="checkbox">
									<label> <input name="remember" type="checkbox"
										value="Remember Me">Se souvenir de moi
									</label>
								</div>
								<input type="submit" class="btn btn-block btn-lille1"
									value="Se connecter">
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<form th:object="${staffLille1}" th:action="@{/authenticationStaff}"
		method="post">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="login-panel panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Authentification : Personnel de
								Lille 1</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<input th:field="${staffLille1.name}" class="form-control"
									placeholder="Name" name="Name" type="text" autofocus>
								<div class="checkbox">
									<label> <input name="remember" type="checkbox"
										value="Remember Me">Se souvenir de moi
									</label>
								</div>
								<input type="submit" class="btn btn-block btn-lille1"
									value="Se connecter">
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>

	</form>
</body>
<style>
.btn-lille1 {
	background: #ae2573;
	color: white;
}

.panel-default>.panel-heading {
	background: #ae2573;
	color: white;
}
</style>
</html>
