<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="tab(activeTab)">
<head>

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<link type="text/css" href="/css/header.css" rel="stylesheet" />
<script src="js/wish.js"></script>
<script src="js/miscellaneous.js"></script>
<script src="js/header.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker.fr.min.js"></script>

<script src="js/inputs.js"></script>

<link rel="stylesheet" href="css/bootstrap-datepicker3.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="activeNav('candidatures');initializeMyMission();countChars(document.getElementById('motivations').value);">
	<div th:include="header::header"></div>
	<div style="text-align: center" class="container">
		<h1>Formulaire de candidature</h1>
		<br>
	</div>

	<div style="text-align: center" id="exTab1" class="container">
		<ul class="nav nav-pills">
			<li id="ongletLille1" th:class="${activeTab == 'intro'} ? 'active'">
				<a href="#intro" data-toggle="tab">Introduction</a>
			</li>
			<li id="ongletLille1" th:class="${activeTab == 'infos'} ? 'active'"
			th:classappend="${errorTabs} ? (${#lists.contains(errorTabs, 'infos')} ? 'error-tab')">
				<a href="#infos" data-toggle="tab">Informations personnelles</a>
			</li>
			<li id="ongletLille1" th:class="${activeTab == 'formations'} ? 'active'"
			th:classappend="${errorTabs} ? (${#lists.contains(errorTabs, 'formations')} ? 'error-tab')">
				<a href="#formations" data-toggle="tab">Formations</a>
			</li>
			<li id="ongletLille1" th:class="${activeTab == 'contracts'} ? 'active'"
			th:classappend="${errorTabs} ? (${#lists.contains(errorTabs, 'contracts')} ? 'error-tab')">
				<a href="#contracts" data-toggle="tab">Contrats</a>
			</li>
			<li id="ongletLille1" th:class="${activeTab == 'souhait'} ? 'active'"
			th:classappend="${errorTabs} ? (${#lists.contains(errorTabs, 'souhait')} ? 'error-tab')">
				<a href="#souhait" data-toggle="tab">Souhaits</a>
			</li>
			<li id="ongletLille1" th:class="${activeTab == 'dispos'} ? 'active'"
			th:classappend="${errorTabs} ? (${#lists.contains(errorTabs, 'dispos')} ? 'error-tab')">
				<a href="#dispos" data-toggle="tab">Disponibilit&eacute;s</a>
			</li>
			<li id="ongletLille1" th:class="${activeTab == 'divers'} ? 'active'"
			th:classappend="${errorTabs} ? (${#lists.contains(errorTabs, 'divers')} ? 'error-tab')">
				<a href="#divers" data-toggle="tab">Divers</a>
			</li>
			<li id="ongletLille1" th:class="${activeTab == 'save'} ? 'active'">
				<a href="#save" data-toggle="tab">Publication</a>
			</li>
		</ul>

		<form accept-charset="UTF-8" th:action="@{/candidature}"
			th:object="${user}" method="post" enctype="multipart/form-data">

			<div class="tab-content clearfix">
				<div th:class="tab-pane" th:classappend="${activeTab == 'intro'} ? 'active'" id="intro">
					<div class="contentPane"
						th:include="forms_student/form_intro::content"></div>
				</div>

				<div th:class="tab-pane" th:classappend="${activeTab == 'infos'} ? 'active'" id="infos">
					<div class="contentPane"
						th:include="forms_student/form_infos::content"></div>
				</div>

				<div th:class="tab-pane" th:classappend="${activeTab == 'formations'} ? 'active'" id="formations">
					<div class="contentPane"
						th:include="forms_student/form_formations::content"></div>
				</div>
				
				<div th:class="tab-pane" th:classappend="${activeTab == 'contracts'} ? 'active'" id="contracts">
					<div class="contentPane"
						th:include="forms_student/form_contracts::content"></div>
				</div>

				<div th:class="tab-pane" th:classappend="${activeTab == 'souhait'} ? 'active'" id="souhait">
					<div class="contentPane"
						th:include="forms_student/form_souhait::content"></div>
				</div>

				<div th:class="tab-pane" th:classappend="${activeTab == 'dispos'} ? 'active'" id="dispos">
					<div class="contentPane"
						th:include="forms_student/form_dispos::content"></div>
				</div>
				
				<div th:class="tab-pane" th:classappend="${activeTab == 'divers'} ? 'active'" id="divers">
					<div class="contentPane"
						th:include="forms_student/form_divers::content"></div>
				</div>
				
				<div th:class="tab-pane" th:classappend="${activeTab == 'save'} ? 'active'" id="save">
					<div class="contentPane"
						th:include="forms_student/form_save::content"></div>
				</div>
			</div>
			
			<br>
			
			<div class="row">
				<article class="col-md-12 col-sm-12">
					<input id="currentTab" type="hidden" name="currentTab" th:value="${activeTab}">
					<input type="submit" class="btn btn-lille1" name="action" value="Enregistrer" 
					onclick="selectMission();setCurrentTab();alert('Profil enregistré');">
				</article>
			</div>
		
		</form>
	</div>
	<br>
	<br>
	
	<script>
		function setCurrentTab() {
			$('#currentTab').val( $('.tab-content').find('.active').attr('id') );
		}
	</script>
</body>
</html>
