<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">


<script src="js/header.js"></script>

<script src="js/jquery-1.9.1.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/consultCandidature.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="activeNav('consult');">
	<div  th:include="headerStaffLille1::headerStaffLille1"></div>
	<div class="container">
	
		
		<div class="searchPart">
			<div id="searchTitle">Recherche de candidature(s)</div>
			<form class="navbar-form" method="post" role="search">
			
	    		<div class="row">
	    			<div class="col-md-2 ">
	      				<input class="form-control" name="name" id="srch-term" type="text" placeholder="Pr&eacute;nom Nom ">
	      			</div>
	      		</div>
	      		<br/>
	      		<div class="row">
	      			<div class="col-md-2">
						<input class="form-control" name="formation" id="srch-term" type="text" placeholder="Formation">
	    			</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-xs-12 col-sm-12 input-group-btn">
		        			<button class="btn btn-default" type="submit">Recherche <i class="glyphicon glyphicon-search"></i></button>
		     		</div>
	     		</div>
 			 </form>
		</div>
		
		<div class="row" th:if="${size !=null }">
			<div class="alert alert-info">
			  <strong>Resultat trouv&eacute; : </strong> <span th:text="${size}"></span> candidature<span th:if="${size > 1}">s</span>
			</div>
		</div>
		
		<div class="row">
			<div class="list-group">
				<div th:each="student : ${listCandidature}"
					class="col-sm-6 col-md-3">
					<div class="thumbnail">

						<div class="studentName">
							<br> <b>	<span th:if="${student.civilite}==0">M. </span> <span th:if="${student.civilite}==1">
							Mme. </span><span th:text="${student.firstName}"></span>&nbsp;
							<span th:text="${student.lastName}"></span></b>
						</div>
						<br>

						<p class="text">
							<b>Formation : </b> 
							<span th:text="${student.trainings[__${0}__].name}">&nbsp;<span th:text="${student.trainings[__${0}__].date}"></span>
						</p>

						<p class="text">
							<b>Email : </b><span th:text="${student.email}"></span>
						</p>

						<p class=" text centered-text">
							<a th:href="@{profil(nip=${student.nip})}" class="btn btn-info" role="button">
							<span class="glyphicon glyphicon-search"></span> Voir le profil compl&egrave;te</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		</div>

</body>

</html>

