<!DOCTYPE html>
<html lang="en">
<head>

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<script src="js/wish.js"></script>
<script src="js/miscellaneous.js"></script>
<script src="js/header.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

	<div th:include="header::header"></div>
	<div style="text-align: center" class="container">
		<br>
	</div>

	<div class="container">

		<div class="titreOffre">
			<h3>Mes offres en cours</h3>
		</div>

		<table class="table table-responsive">

			<thead>
				<tr>
					<td>N° de l'offre</td>
					<td>Libell&eacute;</td>
					<td>Responsable</td>
					<td>Date</td>
					<td></td>
				</tr>

			</thead>
			<tr>
				<td>Offre n°1</td>
				<td>Surveillant d'examen d'Anglais</td>
				<td>Monsieur Duchemin</td>
				<td>2601/2016</td>
				<td>
					<button type="button" class="btn btn-success"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-danger"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
			<tr>
				<td>Offre n°1</td>
				<td>Surveillant d'examen d'Anglais</td>
				<td>Monsieur Duchem3in</td>
				<td>2601/2016</td>
				<td>
					<button type="button" class="btn btn-success"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-danger"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
			<tr>
				<td>Offre n°1</td>
				<td>Surveillant d'examen d'Anglais</td>
				<td>Monsieur Duchemin</td>
				<td>2601/2016</td>
				<td>
					<button type="button" class="btn btn-success"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-danger"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
		</table>

		<div class="titreOffre">
			<h3>Mes offres pass&eacute;es</h3>
		</div>

		<table class="table table-responsive">
			<tr>
				<td>Offre n°1</td>
				<td>Surveillant d'examen d'Anglais</td>
				<td>Monsieur Duchemin</td>
				<td>2601/2016</td>
				<td>
					<button type="button" class="btn btn-success"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-danger"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
		</table>


		<div class="boutonPlus">
			<button class="boutonRond">+</button>
		</div>
	</div>
</body>

<style>
.container {
	border: solid 1px #ae2573;
}

.titreOffre {
	background-color: #ae2573;
	color: white;
	text-align: center;
}

.boutonRond {
	width: 65px;
	height: 65px;
	background: #ae2573;
	font: bold 23px Arial;
	border-radius: 50%;
	border: none;
	color: white;
}

.boutonPlus {
	text-align: right;
	margin-right: 5%;
}
</style>

</html>
