<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Informations divers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div th:fragment="content">
		<form accept-charset="UTF-8" th:action="@{/resultAlex}"
			th:object="${student}" method="post">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<label class="col-md-4 control-label" for="radios">Faites-vous
							partie d'une association ? </label>
						<div class="col-md-4">
							<label class="radio-inline" for="radios-0"> <input
								type="radio" name="radios" id="radios-0" value="${true}"">
								 Oui
							</label> 
							<label class="radio-inline" for="radios-1"> <input
								type="radio" name="radios" id="radios-1" value="${false}">
								Non
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="Association">Si oui, précisez le nom de
					l'association, sa mission, votre rôle:</label>
				<textarea class="form-control" rows="5" id="nameAssociation"
					th:field="${student.misc.nameAssociation}"></textarea>
			</div>

			<div class="form-group">
				<label for="ConnaissancesInfos">Précisez vos connaissances
					informatiques :</label>
				<textarea class="form-control" rows="5" id="itKnowledge"
					th:field="${student.misc.itKnowledge}"></textarea>
			</div>

			<div class="form-group">
				<label for="ConnaissancesInfos">Maîtrisez-vous d’autres
					langues que le français ? (précisez lesquelles et le niveau)</label>
				<textarea class="form-control" rows="5" id="languages"
					th:field="${student.misc.languages}"></textarea>
			</div>

			<div class="form-group">
				<label for="ConnaissancesInfos">Avez-vous suivi d’autres
					formations (BAFA, secouriste, …)</label>
				<textarea class="form-control" rows="5" id="otherFormations"
					th:field="${student.misc.otherFormations}"></textarea>
			</div>

			<button type="submit" class="btn btn-info pull-right">Enregistrer</button>
		</form>
	</div>
</body>
</html>