<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="content">

		<h2>Vos informations personnelles</h2>
		<br>

		<form class="form" th:action="@{/result}" th:object="${student}"
			method="post">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Nom : </label> <input class="form-control input-sm"
							type="text" th:field="${student.lastName}" id="lastName" /> <span
							path="lastName" th:errors="*{lastName}"> Nom absent</span>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Pr&eacute;nom : </label><input
							class="form-control input-sm" type="text"
							th:field="${student.firstName}" id="firstName" />
					</div>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Mail : </label> <input class="form-control input-sm"
							th:field="${student.email}" type="email" id="email" />
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> T&eacute;l&eacute;phone : </label><input
							class="form-control input-sm" th:field="${student.phone}"
							type="text" id="phone" />
					</div>
				</div>
			</div>
			<br> <br>


			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Rue : </label> <input class="form-control input-sm"
							th:field="${student.address.street}" type="text" id="street" />
					</div>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Complement : </label> <input class="form-control input-sm"
							th:field="${student.address.complement}" type="text"
							id="complement" />
					</div>
				</div>
			</div>
			<br>


			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Ville : </label> <input class="form-control input-sm"
							th:field="${student.address.city}" type="text" id="city" />
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Code postal : </label> <input
							class="form-control input-sm"
							th:field="${student.address.postalCode}" type="text"
							id="postalCode" />
					</div>
				</div>
			</div>
			<br> <br>

			<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-inline">
					<label class="control-label" for="selectbasic">Nationalité</label>
						<select th:field="${student.nationality}" id="selectbasic"
							name="selectbasic" class="form-control">
							<option value="france">France</option>
							<option value="spain">Espagne</option>
							<option value="italy">Italie</option>
							<option value="united-kingdom">Royaume-Uni</option>
							<option value="canada">Canada</option>
							<option value="united-states">Etats-Unis</option>
							<option value="china">Chine</option>
							<option value="japan">Japon</option>
						</select>
				</div>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label class="col-md-4 control-label" for="radios">Titre
							de séjour : </label>
						<div class="col-md-4">
							<label class="radio-inline" for="radios-0"> <input
								type="radio" name="radios" id="radios-0" value="validVISA"
								checked="checked"> Oui
							</label> <label class="radio-inline" for="radios-1"> <input
								type="radio" name="radios" id="radios-1" value="InvalidVISA">
								Non
							</label>
						</div>
					</div>
				</div>
			</div>
			<br>


			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-inline">
						<label> Date de validit&eacute;e : </label><input type="date"
							id="expiryDateVISA" />
					</div>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<input type="submit" value="Register"
						class="btn btn-info btn-block">
				</div>
			</div>
			<br>
		</form>
</body>
</html>