<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vos souhaits</title>
</head>
<body>
	<h2>Vos souhaits</h2><br>
	
	<form action="/enregistrer" method="post">
		<div>
			<label> Types de missons souhaités (4 max) : </label> 
			<br><br>
			<select name="mission" id="mission" required size="10" multiple="MULTIPLE">

				<option value="secretariat">Secrétariat d'examens</option>

				<option value="animation">Animation culturelles scientifiques sportives et sociales</option>

				<option value="accueil">Accueil des étudiants</option>

				<option value="assitance">Assistance et accompagnement des étudiants handicapés</option>

				<option value="soutienInfo">Soutien informatique et aide à l'utilisation des nouvelles technologies</option>

				<option value="promotion">Promotion de l'offre de formation</option>

				<option value="tutorat">Tutorat</option>

				<option value="serviceBiblio">Service d'appui aux personnels de bibliothèque</option>
				
				<option value="aideInsertion">Aide à l'insertion professionelle</option>
				
				<option value="enquetes">Enquêtes</option>
				
			</select>
			
		</div><br>

		<div><label> Autre mission souhaitée (précisez) : </label>
		<input type="text" name="autre" maxlength="50" />
		</div>
		<button>Valider</button>


	</form>
</body>
</html>