<!DOCTYPE html>
<html lang="en">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div th:include="header::header"></div>
	<div style="text-align:center" class="container">
		<h1>Formulaire de candidature</h1>
		<br>
	</div>
	<div style="text-align:center" id="exTab1" class="container">
		<ul class="nav nav-pills">
			<li class="active"><a data-toggle="pill" href="#intro">Introduction</a></li>
			<li><a data-toggle="pill" href="#form1">Informations personnelles</a></li>
			<li><a data-toggle="pill" href="#form2">Motivations</a></li>
			<li><a data-toggle="pill" href="#end">Fin</a></li>
		</ul>
		
		<form accept-charset="UTF-8" th:action="@{/resultCedric}" th:object="${student}" method="post">
			<div class="tab-content clearfix">
			
				<!-- Introduction -->
				<div class="tab-pane active" id="intro">
					<div>
						<h2>Introduction</h2>
						<br>
						<br>
						<p>Afin d'enregistrer votre candidature, vous devez remplir
							tout les champs de chaque onglet.</p>
						<p>Une fois cette étape réalisée, vous pouvez enregistrer votre
							candidature en cliquand sur le bouton enregistrer dans l'onglet
							"Fin".</p>
					</div>
				</div>
				
				<!-- Informations personnelles -->
				<div class="tab-pane" id="form1">
					<div class="form-inline">
						<label>Nom: </label>
						<input type="text" class="form-control" id="lastName" th:value="${student.lastName}" th:field="${student.lastName}" />
					</div>
					<div class="form-inline">
						<label>Pr&eacute;nom: </label>
						<input type="text" class="form-control" id="firstName" th:value="${student.firstName}" th:field="${student.firstName}" />
					</div>
				</div>
				
				<!-- Motivations -->
				<div class="tab-pane" id="form2">
					<div class="form-group">
						<label>Vos motivations: </label>
						<textarea class="form-control" id="motivation" rows="10" th:value="${student.motivation}" th:field="${student.motivation}"></textarea>
					</div>
				</div>
				
				<!-- Fin -->
				<div class="tab-pane" id="end">
					<input type="submit" class="btn btn-info" value="Enregistrer">
				</div>
			</div>
		</form>
	</div>
</body>
</html>