<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<script src="js/header.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>

<script src="js/dispo.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body onload="activeNav('candidatures');">
<div th:include="header::header"></div>

<div th:fragment="content">

	<div class="container">
        <div th:if="${student.published}==false" class="jumbotron">
            <h2>Candidature</h2>
            <p>Vous n'avez pas de candidature publiée</p>
            <p>Cliquez créer une candidature ou continuer la saisie d'une candidature</p>
            <p><a class="btn btn-lille1" th:href="@{/candidature}">START</a></p>        
        </div>
         <div th:if="${student.published}==true" class="jumbotron">
            <h2>Candidature publiée</h2>
            <p> Vous avez une candidature publiée</p>
            <a class="btn btn-lille1" href="@{/profile}">Consulter</a>
            <a class="btn btn-lille1" th:href="@{/candidature}">Modifier</a>
            <a class="btn btn-lille1" th:href="@{/home(action='unpublish')}">Dépublier</a> 
        </div>
    </div>
</div>
</body>
</html>