<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<link type="text/css" href="/css/form.css" rel="stylesheet" />

<script src="js/header.js"></script>
<script src="js/jquery-1.9.1.min.js"></script>

<script src="js/dispo.js"></script>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="bodyImg">
		<div th:include="header::header"></div>

		<div th:fragment="content">

			<div class="container">
				<div th:if="${student.statut}==NULL" class="jumbotron">
					<h2>Bienvenue</h2>
					<p>Vous n'avez pas de candidature enregistrée</p>
					<p>
						<a class="btn btn-lille1" th:href="@{/candidature}">Creer une
							candidature</a>
					</p>
				</div>
				<div th:if="${student.statut}=='register'" class="jumbotron">
					<h2>Candidature en cours de saisie</h2>
					<br /> <a class="btn btn-lille1" th:href="@{/candidature}">Continuer
						la saisie</a>
				</div>
				<div th:if="${student.statut}=='published'" class="jumbotron">
					<h2>Candidature publiée</h2>
					<p>Vous avez une candidature publiée</p>
					<a class="btn btn-lille1" th:href="@{/profile}">Consulter</a> <a
						class="btn btn-lille1" th:href="@{/candidature}">Modifier</a> <a
						class="btn btn-lille1" th:href="@{/home(action='unpublish')}">Dépublier</a>
				</div>
				<div class="jumbotron" style="border-radius:10px;">
					<h2>Derni&egrave;res offres publiées :</h2><br/>
					<table class="table table-responsive">
						<thead>
							<tr>
								<td><strong>N° de l'offre</strong></td>
								<td><strong>Mission</strong></td>
								<td><strong>Responsable</strong></td>
								<td></td>
							</tr>

						</thead>

						<tr th:each="abstractOffer : ${abstractOffers}">
							<td><label th:text="${abstractOffer.id}"></label></td>
							<td th:text="${abstractOffer.title}"></td>

							<td><span th:text="${abstractOffer.responsible.firstName}"></span><span></span>
								<span th:text="${abstractOffer.responsible.lastName}"></span>
							<td>

								<a class="btn btn-success" aria-label="Left Align" th:href="@{/offer(id=${abstractOffer.id})}">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								</a>

							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>