<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title></title>



<script src="js/header.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/offer.css">


	
	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

	<div th:include="headerStaffLille1::headerStaffLille1"></div>
	
	<div class="container containerWhite">
		<br>
  		<article>
  			<p> Bonjour <span th:text="${user.lastName}"></span>,</p>
  			<p>En tant que r&eacute;f&eacute;rent vous avez accès à plusieurs fonctionnalités.</p>
  			<p>Premièrement, vous avez accès à vos offres en cliquant sur l'onglet "Offre" du menu ci-dessus. Cette page vous permettra
  			de consulter vos offres validées, en attente de validation, refusées et expirées.</p>
  			<p>Depuis cette page, vous pourrez également créer de nouvelles offres. Vous aurez la possibilité de créer de nouvelles offres standard
  			et générique mais également de créer une offre à partir d'une ancienne si par exemple cette dernière est refusée ou pour tout autre 
  			raison.</p>
  			<p> <a class="btn btn-primary" aria-label="Left Align" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>  Ce bouton
  			vous permettra de créer une offre à partir de celle selectionnée.</p>
  			<p><a class="btn btn-success" aria-label="Left Align">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								    </a> Celui ci, vous permet de consulter votre offre.</p>
  			
  			
   			
 		</article>
	</div>
	
	
</body>
</html>