<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1> Formulaire </h1>

<h2> Informations personnelles </h2>

<form action="/enregistrer" method="post">
	<div>
		<label> Nom : </label>
		<input type="text" id="nom"/>
		<label> Prenom : </label>
		<input type="text" id="prenom"/>
	</div>

	<div>
		<label> Mail : </label>
		<input type="email" id="email"/>
		<label> T&eacute;l&eacute;phone : </label>
		<input type="tel" id="telephone"/>
	</div>

	<div>
		<label> Rue : </label>
		<input type="text" id="rue"/>
	</div>

	<div>
		<label> Voie : </label>
		<input type="text" id="voie"/>
	</div>

	<div>
		<label> Ville : </label>
		<input type="text" id="ville"/>
		<label> Code Postal : </label>
		<input type="text" id="codepostal"/>
	</div>

	<div>
		<label> Nationalit&eacute; : </label>
		<select id="voie"/>
			<option value="france">France</option>
           	<option value="espagne">Espagne</option>
           	<option value="italie">Italie</option>
           	<option value="royaume-uni">Royaume-Uni</option>
           	<option value="canada">Canada</option>
           	<option value="etats-unis">&Eacute;tats-Unis</option>
           	<option value="chine">Chine</option>
           	<option value="japon">Japon</option>
        </select>
	</div>

	<div>
		<label> Titre de s&eacute;jour : </label>
		<label> Oui </label>
		<input type="radio" value="Oui" id="titresejouroui"/>
		<label> Non </label>
		<input type="radio" value="Non" id="titresejournon"/>
		<input type="date" id="datesejour"/>
	</div>
	<button>Valider</button>


</form>


</body>
</html>