<!DOCTYPE html>
<html lang="en">
<head>

<link type="text/css" href="/css/form.css" rel="stylesheet" />
<script src="js/wish.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

	<div class="container">

	  <div class="titreOffre">
	  	<h3> Cr&eacute;ation d'une nouvelle offre</h3>
	  </div>

		<br>
		<br>

			<div class="row rowForm">
				<div class="col-md-4"><label>Offre n</label></div>
			</div>

			<form>
				<div class="row rowForm">
					<article class="col-md-3">
						<div class="input-group input-group-sm">
  						<span class="input-group-addon" id="sizing-addon3">Responsable</span>
  						<input type="text" class="form-control" placeholder="Monsieur Duchemin" aria-describedby="sizing-addon3">
						</div>
					</article>
				</div>

				<div class="row rowForm">
					<article class="col-md-6">
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="sizing-addon3">Libell&eacute;</span>
							<input type="test" class="form-control" placeholder="Surveillant d'examen" aria-describedby="sizing-addon3">
						</div>
					</article>
				</div>


				<div class="row rowForm">
					<article class="col-md-3">
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="sizing-addon3">Date de d&eacute;but</span>
							<input type="date" class="form-control" placeholder="jj/mm/yyyy" aria-describedby="sizing-addon3">
						</div>
					</article>
					<article class="col-md-3">
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="sizing-addon3">Date de fin</span>
							<input type="date" class="form-control" placeholder="jj/mm/yyyy" aria-describedby="sizing-addon3">
						</div>
					</article>
					<article class="col-md-3">
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="sizing-addon3">Date de fin de validit&eacute;</span>
							<input type="date" class="form-control" placeholder="jj/mm/yyyy" aria-describedby="sizing-addon3">
						</div>
					</article>
				</div>


				<div class="row rowForm">
					<article class="col-md-3">
						<div class="input-group input-group-sm">
							<span class="input-group-addon" id="sizing-addon3">Type de l'offre</span>
							<select class="form-control" name="select">
							  <option value="valeur1">Chanteur</option>
							  <option value="valeur2" selected>Codeur</option>
							  <option value="valeur3">Danseur</option>
							</select>
					</div>
				</article>
			</div>
		</form>
	</div>
</body>
<style>
.container{
  border : solid 1px #ae2573;
}
.titreOffre{
  background-color: #ae2573;
  color:white;
  text-align: center;
}
.rowForm{
 margin-bottom: 10px;
}
</style>
</html>
