<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" href="css/header.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body onload="activeNav('candidatures')">
	<div th:include="header::header"></div>
	<div class="container containerProfil">
		<div class="tab-pane">
			<h4 class="titreFormulaire">Informations personnelles</h4>

			<label th:if="${student.civilite}==0">Monsieur</label> <label
				th:if="${student.civilite}==1">Madame</label> <label
				th:text="${student.lastName}" id="lastName"></label> <label
				th:text="${student.firstName}" id="firstName"></label> <br> <label
				th:text="${student.email}" id="email"></label> <br>
				 <label
				for="selectbasic">Nationalité </label>
				<label
				th:text="${student.nationality}" id="nationality"></label> <br>
				<label th:text="${student.phone}" id="phone"></label> <br> 
			
			 
			<label th:if="${student.nationality}!='FRANCAISE'"
				th:text="${student.dateVISA}" id="dateVISA"></label> <br>
			<label th:if="${student.dateVisa}!=NULL"
				th:text="${student.dateVISA}" id="dateVISA"></label> <br>
				
			
			<div th:if="${student.cv}!=''">
			<h4 class="titreFormulaire">CV</h4>
			
			<label  class="left control-label">Votre CV : </label>	<iframe src="172.28.2.17/11203333" width="800" height="600" align="middle"></iframe><label th:text="${student.cv}" ></label><br><br>
			</div>
			
			<h4 class="titreFormulaire">Adresse</h4>
			<div class="row" style="text-align:center">
				<div class="col-md-6 col-xs-6">
					<div class="row">
						<div class="col-md-3">
							<p>Rue :</p>
						</div>
						<div class="col-md-6">
							<label th:text="${student.address.street}" id="street"></label>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3">
							<p>Complement :</p>
						</div>
						<div class="col-md-6">
							<label th:text="${student.address.complement}" id="complement"></label>
						</div>
					</div>
					<br>
				</div>
				<div class="col-md-6 col-xs-6">
					<div class="row">
						<div class="col-md-3">
							<p>Ville :</p>
						</div>
						<div class="col-md-6">
							<label th:text="${student.address.city}" id="city"></label>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3">
							<p>Code Postal :</p>
						</div>
						<div class="col-md-6">
							<label th:text="${student.address.postalCode}" id="postalCode"></label>
						</div>
					</div>
				</div>
				<br>
			</div>




			<h4 class="titreFormulaire">Formations</h4>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Ann&eacute;e</th>
							<th>Nom de la formation</th>
							<th>Lieu</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="training, stat : ${student.trainings}"
							th:if="${student.trainings[__${stat.index}__].date}!=0">
							<td><label
								th:text="${student.trainings[__${stat.index}__].date}"></label></td>
							<td><label
								th:text="${student.trainings[__${stat.index}__].name}"></label></td>
								
							<td th:if="${student.trainings[__${stat.index}__].place}!=NULL"><label 
								th:text="${student.trainings[__${stat.index}__].place}"></label></td>
							<td th:if="${student.trainings[__${stat.index}__].place}==NULL"><label >Lille</label></td>
						</tr>

					</tbody>
				</table>

			</div>
			<h4 class="titreFormulaire">Contrats</h4>
			<div th:if="${student.externalContracts[__${0}__].employer}==''" style="text-align:center">
			<label >Vous n'avez pas de contrats</label>
			</div>
			<div th:if="${student.externalContracts[__${0}__].employer}!=''" class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Employeur</th>
							<th>Date de d&eacute;but</th>
							<th>Date de fin</th>
							<th>Nombre d'heures total</th>
							<th>Missions</th>
						</tr>
					</thead>
					<tbody>
						<tr
							th:each="externalContract, stat : ${student.externalContracts}"
							th:if="${student.externalContracts[__${stat.index}__].employer}!=''">
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].employer}"
								th:field="${student.externalContracts[__${stat.index}__].employer}"></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].startDate}"
								th:field="${student.externalContracts[__${stat.index}__].startDate}"></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].endDate}"
								th:field="${student.externalContracts[__${stat.index}__].endDate}"></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].hours}"
								th:field="${student.externalContracts[__${stat.index}__].hours}"></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].missions}"
								th:field="${student.externalContracts[__${stat.index}__].missions}"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<h4 class="titreFormulaire">Souhaits</h4>
			<br> <label> Missions choisis :</label>
			<div class="table-responsive">
				<div class="col-md-5">
					<select size="4"
						class="form-control" id="myMissions"
						th:field="${student.wish.missions}" multiple="multiple">
						<option th:each="mission : ${student.wish.missions}"
							th:value="${mission.id}" th:text="${mission.title}"></option>
					</select>
				</div>
			</div>
			<br>
				<div class="row">
						<div class="col-md-3">
							<label>Autres missions :</label>
						</div>
						<div class="col-md-3">
							<label th:text="${student.wish.otherWish}" id="otherWish"></label>
						</div>
					</div>
					
			<!-- <label>Autres missions</label> <br> 
			<label
				th:text="${student.wish.otherWish}" id="otherWish"></label> --><br><br>
				
				
			<label>Motivations</label> <br> 
			<textarea  class="form-control"  rows="5" th:field="${student.motivation}" readonly></textarea><br>
			
			<h4 class="titreFormulaire">Disponibilités</h4>

			<div class="row">
				<article class="col-md-3"></article>
				<article class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon3">Du</span> <input
							th:type="text" class="form-control" id="startDate"
							placeholder="jj/mm/aaaa" aria-describedby="sizing-addon3"
							th:field="${student.availability.startDate}" readonly />
					</div>
				</article>
				<article class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon3">Au</span> <input
							class="form-control" th:field="${student.availability.endDate}"
							placeholder="jj/mm/aaaa" th:type="text"
							aria-describedby="sizing-addon3" readonly />
					</div>
				</article>
			</div>


			<br>


			<div class="dispoProfil">

				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Lundi</span>
							<input type="text" placeholder="hh:mm" class="form-control"
								th:field="${student.availability.startTimeMonday}" readonly />
							<span class="input-group-addon" id="sizing-addon3">à</span> <input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeMonday}" readonly />
						</div>
					</article>
				</div>
				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Mardi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeTuesday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3">à</span> <input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeTuesday}" readonly/>
						</div>
					</article>
				</div>
				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Mercredi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeWednesday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3">à</span> <input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeWednesday}" readonly />
						</div>
					</article>
				</div>

				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Jeudi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeThursday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3">à</span> <input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeThursday}" readonly/>
						</div>
					</article>
				</div>

				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Vendredi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeFriday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3">à</span> <input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeFriday}" readonly/>
						</div>
					</article>
				</div>

			</div>
			<h4 class="titreFormulaire">Divers</h4>
			
			<label>Associations (noms,rôles,missions)</label> <br> 
			<input type="text" class="form-control"  			
			th:field="${student.misc.nameAssociation}" readonly/>
			
			<br> <label>Connaissances Informatiques</label> <br> <input type="text" class="form-control" th:field="${student.misc.itKnowledge}" readonly/>
			<br> <label>Connaissances Linguistiques</label> <br> <input type="text" class="form-control" th:field="${student.misc.languages}" readonly/> <br>
			<label>Connaissances Informatiques</label> <br> <input type="text" class="form-control" th:field="${student.misc.otherFormations}" readonly/>
			<br>
		</div>

	</div>
</body>

<style>
.fade {
	text-align: center;
}

.container {
	border: solid 1px #ae2573;
}

.titreOffre, .panel-default>.panel-heading {
	background-color: #ae2573;
	color: white;
	text-align: center;
}

.boutonRond {
	width: 65px;
	height: 65px;
	background: #ae2573;
	font: bold 23px Arial;
	border-radius: 50%;
	border: none;
	color: white;
}

.btn-lille1 {
	background-color: #ae2573;
	color: white;
	margin-bottom: 10px;
}
.addonDay{
	min-width:100px;
}
.boutonPlus {
	text-align: right;
	margin-right: 5%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #ae2573;
	background-color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
	color: white;
}

.titreFormulaire {
	background-color: #ae2573;
	color: white;
	margin-bottom: 40px;
	text-align: center;
}

.container {
	/*margin-right: auto;
	margin-left: auto;*/
	
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
	background-color: white;
	color: #ae2573;
	border: 1px solid #ae2573;
}

.container-fluid {
	background-color: #ae2573;
	color: #337ab7;
}

dispoProfil, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	background: white;
}
</style>
</html>