<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" href="css/header.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body onload="activeNav('candidatures')">
	<div  th:include="headerStaffLille1::headerStaffLille1"></div>
	<div class="container containerProfil">
		<div class="tab-pane">
			<h4 class="titreFormulaire">Informations personnelles</h4>

			<label th:if="${student.civilite}==0">Monsieur</label> 
			<label
				th:if="${student.civilite}==1">Madame</label> 
				<label th:text="${student.lastName}" id="lastName"></label> <label th:text="${student.firstName}" id="firstName"></label> <br> 
				NIP : <label th:text="${student.nip}" id="nip"></label> <br> 
				Email : <label th:text="${student.email}" id="email"></label> <br> 
				Nationalité : <label th:text="${student.nationality}" id="nationality"></label> <br>
				T&eacute;l&eacute;phone : <label th:text="${student.phone}" id="phone"></label> <br> 
			
			 
			<div th:if="${student.nationality}!='FRANCAISE'">Date de visa : <label th:text="${{student.dateVisa}}" id="dateVISA"></label> <br></div>

				
			
			<div th:if="${(student.cv)}">
			<h4 class="titreFormulaire">CV</h4>
			
				<iframe th:attr="src=${pathCV}" ></iframe><br><br>
				
			</div>
			
			<h4 class="titreFormulaire">Adresse</h4>
			<div class="row" style="text-align:center">
				<div class="col-md-6 col-xs-6">
					<div class="row">
						<div class="col-md-3">
							<p>Rue :</p>
						</div>
						<div  class="col-md-6">
							<label th:text="${student.address.street}" id="street"></label>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3">
							<p>Complement :</p>
						</div>
						<div class="col-md-6">
							<label th:text="${student.address.complement}" id="complement"></label>
						</div>
					</div>
					<br>
				</div>
				<div class="col-md-6 col-xs-6">
					<div class="row">
						<div class="col-md-3">
							<p>Ville :</p>
						</div>
						<div class="col-md-6">
							<label th:text="${student.address.city}" id="city"></label>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-3">
							<p>Code Postal :</p>
						</div>
						<div class="col-md-6">
							<label th:text="${student.address.postalCode}" id="postalCode"></label>
						</div>
					</div>
				</div>
				<br>
			</div>




			<h4 class="titreFormulaire">Formations</h4>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Ann&eacute;e</th>
							<th>Nom de la formation</th>
							<th>Lieu</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="training, stat : ${student.trainings}"
							th:if="${student.trainings[__${stat.index}__].date}!=0">
							<td><label
								th:text="${student.trainings[__${stat.index}__].date}"></label></td>
							<td><label
								th:text="${student.trainings[__${stat.index}__].name}"></label></td>
								
							<td th:if="${student.trainings[__${stat.index}__].place}!=NULL"><label 
								th:text="${student.trainings[__${stat.index}__].place}"></label></td>
							<td th:if="${student.trainings[__${stat.index}__].place}==NULL"><label >Lille</label></td>
						</tr>

					</tbody>
				</table>

			</div>
			
			
		<h4 class="titreFormulaire">Contrats Lille 1</h4>
			<div class="table-responsive">
			<table th:if="${!student.contract.empty}"  class="table table-striped table-bordered table-hover" align="center">
				<thead>
					<tr>
						<th>Service</th>
						<th>Période</th>
						<th>Nombre d'heures total</th>
						<th>Mission</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contract : ${student.contract}" th:if="${contract.status}==true">
						<td>
						<span th:text="${contract.referent.service.libelle}"></span>
						</td>

						<td>
							Du <span th:text="${{contract.startDate}}"></span> 
							Au <span th:text="${{contract.endDate}}"></span>
						</td>

						<td>
						<span th:text="${contract.hours}"></span>
						</td>

						<td>
						<span th:text="${contract.mission}"></span>
						</td>

					</tr>
				</tbody>
			</table>
			</div>
			<div th:if="${student.contract.empty}" class="alert alert-info">
			  Aucun contrat passé avec l'universitée Lille 1 trouvée
			</div>
			
			<h4 class="titreFormulaire">Contrats externes</h4>
			<div th:if="${student.externalContracts[__${0}__].employer}!=''" class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Employeur</th>
							<th>Date de d&eacute;but</th>
							<th>Date de fin</th>
							<th>Nombre d'heures total</th>
							<th>Missions</th>
						</tr>
					</thead>
					<tbody>
						<tr
							th:each="externalContract, stat : ${student.externalContracts}"
							th:if="${student.externalContracts[__${stat.index}__].employer}!=''">
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].employer}"
								th:field="${student.externalContracts[__${stat.index}__].employer}" readonly></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].startDate}"
								th:field="${student.externalContracts[__${stat.index}__].startDate}"readonly></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].endDate}"
								th:field="${student.externalContracts[__${stat.index}__].endDate}"readonly></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].hours}"
								th:field="${student.externalContracts[__${stat.index}__].hours}"readonly></td>
							<td><input type="text" class="form-control"
								th:value="${student.externalContracts[__${stat.index}__].missions}"
								th:field="${student.externalContracts[__${stat.index}__].missions}"readonly></td>
						</tr>
					</tbody>
				</table>
			</div>

			<h4 class="titreFormulaire">Souhaits</h4>
			<br> <label> Missions choisies :</label>
			<div class="table-responsive">
				<div class="col-md-5">
					<select size="4"
						class="form-control" id="myMissions"
						th:field="${student.wish.missions}" multiple="multiple">
						<option th:each="mission : ${student.wish.missions}"
							th:value="${mission.id}" th:text="${mission.title}"></option>
					</select>
				</div>
			</div>
			<br>
				<div class="row">
						<div class="col-md-3">
							<label>Autres missions :</label>
						</div>
						<div class="col-md-3">
							<label th:text="${student.wish.otherWish}" id="otherWish"></label>
						</div>
					</div>
					
			<!-- <label>Autres missions</label> <br> 
			<label
				th:text="${student.wish.otherWish}" id="otherWish"></label> --><br><br>
				
				
			<label>Motivations :</label> <br> 
			<textarea  class="form-control"  rows="5" th:field="${student.motivation}" readonly></textarea><br>
			
			<h4 class="titreFormulaire">Disponibilités</h4>

			<div class="row">
				<article class="col-md-3"></article>
				<article class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon3">Du</span> <input
							th:type="text" class="form-control" id="startDate"
							placeholder="jj/mm/aaaa" aria-describedby="sizing-addon3"
							th:field="${student.availability.startDate}" readonly />
					</div>
				</article>
				<article class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon" id="sizing-addon3">Au</span> <input
							class="form-control" th:field="${student.availability.endDate}"
							placeholder="jj/mm/aaaa" th:type="text"
							aria-describedby="sizing-addon3" readonly />
					</div>
				</article>
			</div>


			<br>


			<div class="dispoProfil">

				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Lundi</span>
							<input type="text" placeholder="hh:mm" class="form-control"
								th:field="${student.availability.startTimeMonday}" readonly />
							<span class="input-group-addon" id="sizing-addon3" style="border-left:none; border-right:none">à</span>
							<input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeMonday}" readonly />
						</div>
					</article>
				</div>
				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Mardi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeTuesday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3" style="border-left:none; border-right:none">à</span>
							<input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeTuesday}" readonly/>
						</div>
					</article>
				</div>
				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Mercredi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeWednesday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3" style="border-left:none; border-right:none">à</span>
							<input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeWednesday}" readonly />
						</div>
					</article>
				</div>

				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Jeudi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeThursday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3" style="border-left:none; border-right:none">à</span>
							<input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeThursday}" readonly/>
						</div>
					</article>
				</div>

				<div class="row">
					<article class="col-md-4"></article>
					<article class="col-md-4">
						<div class="input-group ">
							<span class="input-group-addon addonDay" id="sizing-addon3">Vendredi</span>
							<input type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.startTimeFriday}" readonly/> <span
								class="input-group-addon" id="sizing-addon3" style="border-left:none; border-right:none">à</span>
							<input
								type="text" class="form-control" placeholder="hh:mm"
								th:field="${student.availability.endTimeFriday}" readonly/>
						</div>
					</article>
				</div>

			</div>
			<h4 class="titreFormulaire">Divers</h4>
			
			<label>Associations (noms, rôles, missions) :</label> <br> 
			<textarea class="form-control" rows="3" id="nameAssociation"
				style="resize: none" th:field="${student.misc.nameAssociation}"readonly></textarea>
			
			<br> <label>Connaissances informatiques :</label> <br> <textarea class="form-control" rows="3" id="itKnowledge"
				style="resize: none" th:field="${student.misc.itKnowledge}" readonly></textarea>
			<br> <label>Connaissances linguistiques :</label> <br> <textarea class="form-control" rows="3" id="languages"
				style="resize: none" th:field="${student.misc.languages}"readonly></textarea> <br>
			<label>Autres formations :</label> <br> <textarea class="form-control" rows="3" id="otherFormations"
				style="resize: none" th:field="${student.misc.otherFormations}"readonly></textarea>
			<br>
		</div>

	</div>
</body>

<style>
.fade {
	text-align: center;
}

.container {
	border: solid 1px #ae2573;
}

.titreOffre, .panel-default>.panel-heading {
	background-color: #ae2573;
	color: white;
	text-align: center;
}

.boutonRond {
	width: 65px;
	height: 65px;
	background: #ae2573;
	font: bold 23px Arial;
	border-radius: 50%;
	border: none;
	color: white;
}

iframe{
text-align: center;
width:800px ;
height: 600px ;
align:bottom ;
margin: 0 auto;
display:block;

}

.btn-lille1 {
	background-color: #ae2573;
	color: white;
	margin-bottom: 10px;
}
.addonDay{
	min-width:100px;
}
.boutonPlus {
	text-align: right;
	margin-right: 5%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #ae2573;
	background-color: white;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
	{
	color: white;
}

.titreFormulaire {
	background-color: #ae2573;
	color: white;
	margin-bottom: 40px;
	text-align: center;
}

.container {
	/*margin-right: auto;
	margin-left: auto;*/
	
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
	{
	background-color: white;
	color: #ae2573;
	border: 1px solid #ae2573;
}

.container-fluid {
	background-color: #ae2573;
	color: #337ab7;
}

dispoProfil, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	background: white;
}
</style>
</html>